html {
	--main-color: #031f00;
	--icon-color: var(--main-color);
	--base-color: #fafafa;
	--gray-opacity-color: #6b6b6b;
	--accent-color: #85bf2d;
	--second-accent-color: #d87d1a;
}

.header {
	position: relative;
	z-index: 6;
	width: 100%;
	background-color: var(--base-color);
	color: var(--main-color);
	&__bar {
		@include adaptiv-value("font-size", 18, 14, 0);
		@include adaptiv-value("min-height", $startHeightHeader, $smallHeightHeader, 0);
		line-height: 1.25em;
		letter-spacing: 0.01em;
		align-items: center;
		justify-content: space-between;
	}
	&-logo {
		align-items: center;
		@include adaptiv-value("max-width", 29, 40, 3);
		&__logo img {
			max-width: 100%;
		}
		&__desc {
			@include adaptiv-value("font-size", 14, 12, 0);
			@include adaptiv-value("max-width", 153, 250, 1);
			text-align: center;
			color: var(--gray-opacity-color);
		}
	}
	&-nav {
		align-items: center;
		@include adaptiv-value("gap", 51, -15, 1);
		&__social {
			@include adaptiv-value("gap", 20, 0, 0);
		}
		&__email {
			@include adaptiv-value("gap", 8, -5, 0);
			align-items: center;
		}
		&__phone {
			@include adaptiv-value("gap", 8, -5, 0);
			align-items: center;
		}
	}
	&__menu {
		display: none;
	}
}

.phone {
	font-weight: 800;
}

.call__cta {
	text-align: center;
	@include adaptiv-value("font-size", 14, 16, 0);
	font-weight: 700;
	color: var(--base-color);
	background: var(--accent-color);
	border-radius: 30px;
	letter-spacing: 0.06em;
	@include adaptiv-value("padding-top", 13, 7, 0);
	@include adaptiv-value("padding-bottom", 13, 7, 0);
	@include adaptiv-value("padding-left", 40, 20, 0);
	@include adaptiv-value("padding-right", 40, 20, 0);
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: inset 0px -1px 100px -50px rgb(0 128 0 / 70%), 1px 7px 45px -20px #29dd4f,
			42px 65px 5px 5px rgb(0 0 0 / 0%);
	}
}

.menu {
	&__icon {
		display: none;
		&._active {
			span {
				transition: all 0.3s ease 0s;
				transform: scale(0) translate(200%, -200%);
			}
			&::before {
				top: 50%;
				transform: rotate(-45deg) translate(0px, -50%);
			}
			&::after {
				bottom: 50%;
				transform: rotate(45deg) translate(0px, 50%);
			}
		}
	}

	&__body {
		overflow: auto;
		background: rgba(133, 191, 45, 0.6);
		transition: left 0.3s ease 0s;
	}

	&__list {
		font-weight: 600;
		letter-spacing: 0.07em;
		justify-content: space-around;
		align-items: center;
		padding: 0 1.3125rem;
		@include adaptiv-value("font-size", 16, 6, 1);
		li {
			&._active {
				a {
					font-weight: 700;
					transform: skew(1.1);
					border-bottom: 4px solid var(--base-color);
				}
			}
			a {
				@include adaptiv-value("padding-top", 33, 18, 0);
				@include adaptiv-value("padding-bottom", 29, 15, 0);
				color: var(--base-color);
				height: 100%;
				display: inline-flex;
				transition: all 0.4s;
				border-bottom: 4px solid transparent;
				&:hover {
					border-bottom: 4px solid var(--base-color);
				}
			}
		}
		> :not(:last-child) {
		}
	}

	&__link {
	}
}
