.page__index {
}
[class*="kliptarz"] {
	position: absolute;
	z-index: -1;
	&[class*="__about"] {
		&[class*="__1"] {
			top: -3%;
			right: 0;
		}
		&[class*="__2"] {
			bottom: -12.5%;
			right: 0;
		}
	}
	&[class*="__services"] {
		right: 0;
		top: -1.5%;
		z-index: 1;
		@media (max-width: em(768px)) {
			opacity: 0.3;
		}
	}
	&[class*="__docs"] {
		right: 0;
		bottom: -15%;
		z-index: 1;
	}
	&[class*="__control"] {
		z-index: 1;
		&[class*="__1"] {
			left: 0;
			bottom: -25%;
		}
		&[class*="__2"] {
			transform: rotate(315deg);
			left: 7%;
			bottom: -25%;
		}
	}
}
@import "indexSections/slider.scss";
@import "indexSections/firstScreen.scss";
@import "indexSections/about.scss";
@import "indexSections/biz.scss";
@import "indexSections/services.scss";
@import "indexSections/docs.scss";
@import "indexSections/control.scss";
@import "indexSections/products.scss";
@import "indexSections/gallery.scss";
@import "indexSections/bizActivity.scss";
@import "indexSections/contact.scss";
@import "indexSections/feedback.scss";
