//* Mobile-first
@media (min-width: em($maxWidth + 1)) {
}
@media (min-width: em(1400px)) {
}
@media (min-width: em(1200px)) {
}
@media (min-width: em(992px)) {
	.first-screen {
		background: linear-gradient(65deg, rgba(23, 27, 0, 0.6) 10%, rgba(196, 196, 196, 0) 60%),
			url(../img/combainu.jpg) center 50% / cover no-repeat;
	}
	.activity-card__title {
		line-height: 156%;
	}
	.contact-card {
		&__ukraine {
			margin-right: auto;
		}
		&__uae {
			margin: 0 auto;
		}
		&__warehouse {
			margin-left: auto;
		}
	}
}
@media (min-width: em(768px)) {
	.email,
	.phone {
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 8, 0, 0);
		}
	}
	.about {
		&__text {
			margin-bottom: 2 * ($aboutMoreMarginBottom);
			&._not-active {
				margin-bottom: 0;
			}
		}
	}
	.menu {
		&__body {
			border-radius: 0px 0px 0px 35px;
			&::-webkit-scrollbar {
				display: none;
			}
			&.scroll {
				position: fixed;
				z-index: 5;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		&__list {
			display: flex;
			@include adaptiv-value("height", 86, 50, 0);
			text-align: center;
			li {
				> :not(:first-child) {
					margin-left: 0.625rem;
				}
			}
		}
	}
}
@media (min-width: em(576px)) {
	.more {
		justify-content: center;
	}
	.gallery-slider {
		@include adaptiv-value("padding-bottom", 6, 10, 3);
	}
	.activity-card {
		&.__wood {
			justify-self: start;
		}
		&.__buyers {
			justify-self: end;
		}
		&.__export {
			justify-self: start;
		}
		&.__countries {
			justify-self: end;
		}
	}
	.reg {
		&__submit {
			max-width: 100%;
		}
	}
	.docs-slider__shadow {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: 1;
		left: 0;
		background: linear-gradient(
			90deg,
			var(--neutral-color) 0%,
			rgba(255, 255, 255, 0) 10%,
			rgba(255, 255, 255, 0) 90%,
			var(--neutral-color) 100%
		);
	}
}
//* Desktop-first
@media (max-width: em(1399px)) {
}
@media (max-width: em($maxWidthContainer)) {
	logo .products__tab-item.__stock-image .products__tab-img div .img-fluid {
		width: auto;
		height: auto;
	}
}
@media (max-width: em(1199px)) {
	[class*="__container"],
	.container {
		max-width: 71.25rem;
	}
	.logo {
		&__desc {
			display: none;
		}
	}
}
@media (max-width: em(991px)) {
	[class*="__container"],
	.container {
		max-width: 60rem;
	}
	.logo {
		.logo__desc {
			display: none;
		}
	}
	.contacts {
		&__item {
			@include adaptiv-value("margin-right", 40, 20, 1);
		}
	}
	.facebook {
		@include adaptiv-value("margin-right", 20, 10, 1);
	}
	.phone {
		@include adaptiv-value("margin-right", 15, 5, 1);
		&__content {
			display: none;
		}
	}
	.offer {
		&__subtitle {
			@include adaptiv-value("font-size", 18, 20, 0);
		}
	}
	.services__wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.tab-cta {
		&__title {
			line-height: 1.5em;
			margin-bottom: 0.625rem;
		}
	}
	.contact-info {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"uae ukraine"
			"warehouse ukraine";
	}
}
@media (max-width: em(767px)) {
	[class*="__container"],
	.container {
		max-width: 90%;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		&__menu {
			display: block;
		}
	}
	.contacts {
		position: fixed;
		right: -100%;
		bottom: 0;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 1rem;
		height: calc(
			100vh -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
		padding: 1.5rem 2rem 2rem 1.5rem;
		transition: right 0.4s ease 0.1s;
		&__item {
			width: 2rem;
			display: flex;
			justify-content: center;
			margin-right: 0;
		}
		> :not(:first-child) {
			margin-top: 7vh;
		}
		> * i {
			color: var(--base-color);
		}
		&__btn {
			margin-top: 3vh;
			background-color: var(--base-color);
			color: var(--accent-color);
		}
		.email__content {
			display: none;
		}
		&.__active {
			right: 0;
		}
	}

	.menu {
		&__body {
			width: 100%;
			height: 100%;
			background: rgba(108, 155, 37, 0.9);
			position: fixed;
			z-index: 5;
			top: 0;
			left: -100%;
			&._active {
				left: 0;
			}
		}
		&__icon {
			display: block;
			z-index: 6;
			position: relative;
			width: 1.875rem;
			height: 1.125rem;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&::before,
			&::after,
			span {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background: var(--main-color);
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				transition: all 0.4s ease 0.1s;
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
		&__list {
			width: fit-content;
			@include adaptiv-value("font-size", 16, 14, 1);
			li {
				padding: $menuListLiPadding;
				margin-left: 0;
				margin: 0px 0px calc(2.1875rem - $menuListLiPadding) 0px;
				> a {
					padding: 0.3125rem 0;
				}
			}
			@include adaptiv-value("margin-top", 125, 80, 0);
		}
	}
	.first {
		@include adaptiv-value("margin-top", $startHeightHeader, $smallHeightHeader, 0);
	}
	.offer {
		max-width: calc(100% - 3.875rem);
		&__title {
			@include adaptiv-value("font-size", 45, 42, 0);
		}
		&__btn {
			transition: all 0.4s ease 0.1s;
			opacity: 0;
			pointer-events: none;
			&.__active {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	.section-title {
		&__control {
			width: 95%;
			padding: 5% 1.4vw 5% 4vw;
		}
	}
	.about__wrapper {
		flex-direction: column;
		> :not(:last-child) {
			margin-right: 0;
			@include adaptiv-value("margin-bottom", 40, 20, 0);
		}
	}
	.about-images {
		&__image {
			max-height: 90vh;
			img,
			picture {
				max-height: 90vh;
				max-width: 100%;
			}
		}
	}
	.biz {
		&::before {
			width: 100%;
			height: 0.125rem;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
		}
		&__body {
			grid-template-columns: none;
			grid-template-rows: repeat(2, minmax(0, 1fr));
		}
	}
	.biz-item {
		margin-right: 0;
		margin-left: 0;
		&-orange {
			margin-bottom: 2.8125rem;
		}
		&-green {
			margin-top: 2.8125rem;
		}
	}
	.biz-background {
		flex-direction: column;
	}
	.services {
		&::before {
			filter: opacity(0.6) blur(1.5px);
		}
		&__wrapper {
			grid-template-columns: minmax(0, 1fr);
		}
	}
	.control__content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 5rem;
		> * {
			justify-self: center;
		}
		grid-template-areas:
			"."
			"control__icon";
	}
	.products {
		&__tabs {
			// grid-auto-columns: auto;
			// grid-template-columns: auto;
			grid-template-rows: repeat(3, auto);
			grid-template-areas:
				"."
				"."
				".";
		}
		&__tab-items {
			// grid-auto-columns: 1fr;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.4375rem 0.5rem;
			grid-template-areas:
				". ."
				". ."
				". ."
				". ."
				". ."
				". ."
				". ."
				"tbb tbb";
		}
	}
	.activity-cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 1.875rem 0.9375rem;
		grid-template-areas:
			"__wood __turnover"
			"__buyers __export"
			"__countries __countries";
	}
	.activity-card.__countries {
		width: 100%;
	}
	.contact-info {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"uae"
			"ukraine"
			"warehouse";
	}
	.contact-card {
		justify-content: center;
		align-items: center;
		text-align: center;
		&__tbb-content {
			display: flex;
			text-align: center;
			flex-direction: column;
			align-items: center;
		}
	}
	.feedback {
		&__content {
			flex-direction: column;
		}
		&__reg {
			border-radius: 0 0 35px 0;
		}
	}
	.docs::after {
		opacity: 0.6;
		filter: blur(1.5px);
		transform: translateY(50%) translateX(10%) scale(0.9);
	}
}
@media (max-width: em(575px)) and (max-height: em(400px)) {
	.contacts {
		flex-wrap: wrap-reverse;
		&__item {
			margin-left: 2rem;
		}
	}
}
@media (max-width: em(575px)) {
	.section-title-absolute {
		&,
		&::before {
			max-width: none;
			width: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			left: 0;
			right: 0;
			border-radius: 0;
		}
	}
	.about {
		&__text {
			margin-top: 6.5rem;
		}
	}
	.products__tab-items {
		// grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"tbb";
	}
	.tab-cta {
		&__cta {
			padding: 1rem 2rem;
		}
	}
	.activity-cards {
		// grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		gap: 1.875rem 0;
		grid-template-areas:
			"__wood"
			"__buyers"
			"__turnover"
			"__export"
			"__countries";
	}
	.docs-slider__item-wrapper {
		height: 100% !important;
		width: 100% !important;
	}
	.docs::after {
		z-index: 0;
	}
}
@media (max-width: em(375px)) {
	.contacts {
		> .contacts__btn {
			display: none;
		}
	}
	.menu__request {
		display: block;
	}
}
