//* Media queries

//* Mobile-first
@media (min-width: em($maxWidth + 1)) {
}
@media (min-width: em(1400px)) {
}
@media (min-width: em(1200px)) {
	.partners__scrollbar {
		display: none !important;
	}
}
@media (min-width: em(992px)) {
	.first-screen {
		background: linear-gradient(65deg, rgba(26, 26, 26, 0.6) 10%, rgba(216, 216, 216, 0) 60%),
			url(../img/combainu.jpg) center 50% / cover no-repeat;
	}
}
@media (min-width: em(768px)) {
	.email,
	.phone {
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 8, 0, 0);
		}
	}
	.about {
		&__text {
			margin-bottom: 2 * ($aboutMoreMarginBottom);
			&._not-active {
				margin-bottom: 0;
			}
		}
	}
	.menu {
		&__body {
			border-radius: 0px 0px 0px 35px;
			&::-webkit-scrollbar {
				display: none;
			}
			&.scroll {
				position: fixed;
				z-index: 5;
				top: 0;
				left: 0;
				width: 100%;
				max-width: none;
			}
		}
		&__list {
			display: flex;
			@include adaptiv-value("height", 86, 50, 0);
			text-align: center;
			li {
				> :not(:first-child) {
					margin-left: 0.625rem;
				}
			}
		}
	}

	.slider-typical__item-wrapper {
	}
}
@media (min-width: em(576px)) {
	.more {
		justify-content: center;
	}
	.gallery-slider {
		@include adaptiv-value("padding-bottom", 6, 10, 3);
	}
	.reg {
		&__submit {
			max-width: 100%;
		}
	}
}
//* Desktop-first
@media (max-width: em(1399px)) {
}
@media (max-width: em(1199px)) {
	[class*="__container"],
	.container {
		max-width: 71.25rem;
	}
	.logo {
		&__desc {
			display: none;
		}
	}
	.feedback {
		&::before {
			filter: opacity(0.8) blur(1px);
		}
	}
}
@media (max-width: em(991px)) {
	[class*="__container"],
	.container {
		max-width: 60rem;
	}
	.logo {
		.logo__desc {
			display: none;
		}
	}
	.contacts {
		&__item {
			@include adaptiv-value("margin-right", 40, 20, 1);
		}
	}
	.facebook {
		@include adaptiv-value("margin-right", 20, 10, 1);
	}
	.phone {
		@include adaptiv-value("margin-right", 15, 5, 1);
		&__content {
			display: none;
		}
	}
	.offer {
		&__subtitle {
			@include adaptiv-value("font-size", 18, 20, 0);
		}
	}
	.services__wrapper {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.control {
		&__wrapper {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(2, 1fr);
			grid-template-areas:
				"."
				".";
			> * {
				justify-self: center;
				align-self: center;
			}
			> :not(:last-child) {
				margin-right: 0;
				@include adaptiv-value("margin-bottom", 120, 20, 0);
			}
		}
	}
	.tab-cta {
		&__title {
			line-height: 1.5em;
			margin-bottom: 0.625rem;
		}
	}

	.contact {
		&__info {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			> :last-child {
				grid-column: 1 / 3;
				margin-left: 0;
			}
		}
	}
}
@media (max-width: em(767px)) {
	[class*="__container"],
	.container {
		max-width: 90%;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		&__menu {
			display: block;
		}
	}
	.contacts {
		position: fixed;
		right: -100%;
		bottom: 0;
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		margin-right: 1rem;
		height: calc(
			100vh -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
		padding: 1.5rem 2rem 2rem 1.5rem;
		transition: right 0.4s ease 0.1s;
		&__item {
			width: 2rem;
			display: flex;
			justify-content: center;
			margin-right: 0;
		}
		> :not(:first-child) {
			margin-top: 7vh;
		}
		> * i {
			color: var(--base-color);
		}
		&__btn {
			margin-top: 3vh;
			background-color: var(--base-color);
			color: var(--accent-color);
		}
		.email__content {
			display: none;
		}
		&.__active {
			right: 0;
		}
	}

	.menu {
		&__body {
			width: 100%;
			height: 100%;
			background: rgba(108, 155, 37, 0.9);
			position: fixed;
			z-index: 5;
			top: 0;
			left: -100%;
			&._active {
				left: 0;
			}
		}
		&__icon {
			display: block;
			z-index: 6;
			position: relative;
			width: 1.875rem;
			height: 1.125rem;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&::before,
			&::after,
			span {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background: var(--main-color);
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				transition: all 0.3s ease 0s;
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
		&__list {
			width: fit-content;
			@include adaptiv-value("font-size", 16, 14, 1);
			li {
				padding: $menuListLiPadding;
				margin-left: 0;
				margin: 0px 0px calc(2.1875rem - $menuListLiPadding) 0px;
				> a {
					padding: 0.3125rem 0;
				}
			}
			@include adaptiv-value("margin-top", 125, 80, 0);
		}
	}
	.first {
		@include adaptiv-value("margin-top", $startHeightHeader, $smallHeightHeader, 0);
	}
	.offer {
		max-width: calc(100% - 3.875rem);
		&__title {
			@include adaptiv-value("font-size", 45, 42, 0);
		}
		&__btn {
			transition: all 0.3s ease 0s;
			opacity: 0;
			pointer-events: none;
			&.__active {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	@keyframes aboutText {
		0% {
			max-height: calc(
				90vh -
					calc(
						#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
							((100vw - 320px) / #{$maxWidth - 320})
					)
			);
			color: rgb(89, 89, 89);
			background: linear-gradient(180deg, rgba(89, 89, 89, 1) 85%, rgba(255, 255, 255, 1) 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		100% {
			max-height: none;
			color: auto;
			background: none;
			-webkit-background-clip: content-box;
			-webkit-text-fill-color: currentColor;
		}
	}
	.about {
		&__title {
			max-width: none;
			display: flex;
			justify-content: center;
			border-radius: 0;
		}
		&__wrapper {
			flex-direction: column;
			> :not(:last-child) {
				margin-right: 0;
				@include adaptiv-value("margin-bottom", 40, 20, 0);
			}
		}
	}
	.about-images {
		&__image {
			max-height: 90vh;
			img,
			picture {
				max-height: 90vh;
				max-width: 100%;
			}
		}
	}
	.biz {
		margin-top: calc($sectionMarginTopBottom + $titleHeight);
		&::before {
			width: 100%;
			height: 0.125rem;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
		}
		&__body {
			grid-template-columns: none;
			grid-template-rows: repeat(2, minmax(0, 1fr));
		}
	}
	.biz-item {
		margin-right: 0;
		margin-left: 0;
		&-orange {
			margin-bottom: 2.8125rem;
		}
		&-green {
			margin-top: 2.8125rem;
		}
	}
	.biz-background {
		flex-direction: column;
	}
	.services {
		&::before {
			filter: opacity(0.6) blur(1.5px);
		}
		&__wrapper {
			grid-template-columns: minmax(0, 1fr);
		}
	}
	.feedback {
		&__content {
			flex-direction: column;
		}
		&__reg {
			border-radius: 0 0 35px 0;
		}
	}
	.docs::after {
		opacity: 0.6;
		filter: blur(1.5px);
		transform: translateY(50%) translateX(10%) scale(0.9);
	}
	.products {
		&__grid_typical {
			grid-template-columns: repeat(2, minmax(0, 1fr));

			> :nth-child(odd):last-child {
				margin-top: var(--productsMargin);
				margin-right: 0;
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}
	}
	.products-tabs__tab {
		&:not(:last-child) {
			margin-right: 0;
		}
		&:first-child {
			margin-right: var(--productsMargin);
		}
	}
	.products-content {
		&__item-wrapper {
			&:not(:nth-child(3n)) {
				margin-right: 0;
			}
			&:nth-child(3n) {
				margin-right: 0;
			}
			&:not(:nth-child(2n), :last-child) {
				margin-right: var(--productsMargin);
			}
			&_green {
				&::before {
					right: 10%;
				}
			}
		}
	}
	.activity-card {
		&:nth-child(n) {
			justify-content: center;
			grid-column: 1 / 7;
			margin: 0;
			@include adaptiv-value("margin-top", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}
		&:nth-child(1) {
			grid-column: 1 / 4;
			margin: 0;
			@include adaptiv-value("margin-right", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
			@include adaptiv-value("margin-bottom", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}

		&:nth-child(2) {
			grid-column: 4 / 7;
			margin: 0;
			@include adaptiv-value("margin-left", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
			@include adaptiv-value("margin-bottom", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}

		&:nth-child(3) {
			grid-column: 1 / 4;
			margin: 0;
			@include adaptiv-value("margin-right", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
			@include adaptiv-value("margin-bottom", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}

		&:nth-child(4) {
			grid-column: 4 / 7;
			margin: 0;
			@include adaptiv-value("margin-left", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
			@include adaptiv-value("margin-bottom", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}
	}
	.contact {
		&__info {
			grid-template-columns: minmax(0, 1fr);
			> :not(:last-child) {
				margin-left: 0;
			}
			> :last-child {
				grid-column: auto;
			}
		}
	}
	.feedback {
		flex-direction: column;
		height: auto;
		&::before {
			top: 0;
			bottom: auto;
			transform: translateY(100%);
			filter: none;
		}
		&__wrapper {
			grid-template-columns: minmax(0, 1.25fr) minmax(0, 0.75fr);
		}
		&__map {
			position: relative;
			grid-template-columns: 1fr;
			width: 100%;
		}
		&__reg {
			grid-column-start: 1;
			padding: 2rem;
		}
	}
	.feedback-form__submit-btn {
		width: 100%;
	}
}
@media (max-width: em(575px)) and (max-height: em(400px)) {
	.contacts {
		flex-wrap: wrap-reverse;
		&__item {
			margin-left: 2rem;
		}
	}
}
@media (max-width: em(575px)) {
	.section-title-absolute {
		&,
		&::before {
			max-width: none;
			width: 100%;
			display: flex;
			justify-content: center;
			position: absolute;
			left: 0;
			right: 0;
			border-radius: 0;
		}
	}
	.about {
		&__text {
			margin-top: 6.5rem;
			@include adaptiv-value("margin-top", 104, 40, 0);
		}
	}
	.control-images {
		display: grid;
		width: 100%;
		&__img {
			justify-self: flex-end;
			&-1 {
				justify-self: flex-start;
			}
		}
	}
	.products {
		&__grid_typical {
			grid-template-columns: minmax(0, 1fr);
			> * {
				margin: calc(var(--productsMargin) / 2) 0 calc(var(--productsMargin) / 2) 0 !important;
				grid-column-start: 1;
			}
			> :last-child {
				margin-bottom: 0 !important;
				grid-column: 0 / 1 !important;
			}
		}
		&__content-wrapper {
		}
	}
	.slider-typical__item-wrapper {
		height: 31.25rem !important;
		width: 100% !important;
		// min-width: 284px !important;
		// min-height: 360px !important;
	}
	.slider-typical-item {
		height: 31.25rem !important;
		width: 100% !important;
		&__image {
			height: 31.25rem;
		}
	}
	.docs::after {
		z-index: 0;
	}
	.activity-card {
		&:nth-child(n) {
			justify-content: center;
			grid-column: 1 / 7 !important;
			margin: 0;
			@include adaptiv-value("margin-bottom", $activityCardsMarginUnit, $activityCardsMarginUnitSmall, 0);
		}
	}

	.feedback {
		&::before {
			filter: opacity(0.8) blur(1px);
		}
		&__wrapper {
			grid-template-columns: minmax(0, 1fr);
		}
	}
}
@media (max-width: em(490px)) {
	.feedback-form {
		&__input-wrapper {
			flex-direction: column;
			.feedback-form__input-item {
				&:nth-child(1) {
					.feedback-form__input {
						border-radius: 25px;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				&:nth-child(2) {
					.feedback-form__input {
						border-radius: 25px;
						border-top-left-radius: 0;
						border-top-right-radius: 0;
						border-left: none;
						border-top: 1px solid rgba(107, 107, 107, 0.2);
					}
				}
			}
		}
	}
}
@media (max-width: em(375px)) {
	.contacts {
		> .contacts__btn {
			display: none;
		}
	}
	.menu__request {
		display: block;
	}
}

// Media queries
