//* Mobile-first
@media (min-width: em($maxWidth + 1)) {
	.swiper-button-prev,
	.swiper-button-next {
		@include adaptiv-value("padding", 30, 5, 2);
		&::after {
			@include adaptiv-value("font-size", 35, 15, 2);
		}
	}
	.gallery-slider,
	.docs-slider {
		@include adaptiv-value("padding-bottom", 4, 5, 3);
	}
}
@media (min-width: em(1400px)) {
}
@media (min-width: em(1200px)) {
}
@media (min-width: em(992px)) {
	.first-screen {
		background: linear-gradient(65deg, rgba(23, 27, 0, 0.6) 10%, rgba(196, 196, 196, 0) 60%),
			url(../img/combainu.jpg) center 50% / cover no-repeat;
	}
	.activity-card__title {
		line-height: 156%;
	}
	.contact-card {
		&__ukraine {
			margin-right: auto;
		}
		&__uae {
			margin: 0 auto;
		}
		&__warehouse {
			margin-left: auto;
		}
	}
}
@media (min-width: em(768px)) {
	.email,
	.phone {
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 8, 0, 0);
		}
	}
	.menu {
		&__body {
			border-radius: 0px 0px 0px 35px;
			&.scroll {
				position: fixed;
				z-index: 5;
				top: 0;
				left: 0;
				width: 100%;
			}
		}
		&__list {
			display: flex;
			@include adaptiv-value("height", 86, 50, 0);
			text-align: center;
			li {
				> :not(:first-child) {
					margin-left: 0.625rem;
				}
			}
		}
	}
	[class*="biz-card"] {
		max-width: 48.5%;
		&[class*="__1"] {
			@include adaptiv-value("padding-right", 40, 200, 2);
		}
	}
	.services-icon {
		@include adaptiv-value("margin-top", -55, -100, 1);
	}
}
@media (min-width: em(576px)) {
	.more {
		justify-content: center;
	}
	.biz__image {
		@include adaptiv-value(padding, -1220, 115, 4);
	}
	.services {
		&__card {
			padding: em(13px) em(25px);
		}
	}
	.gallery-slider,
	.docs-slider {
		@include adaptiv-value("padding-bottom", 6, 10, 3);
	}
	.activity-card {
		&.__wood {
			justify-self: start;
		}
		&.__buyers {
			justify-self: end;
		}
		&.__export {
			justify-self: start;
		}
		&.__countries {
			justify-self: end;
		}
	}
	.reg {
		&__submit {
			max-width: 100%;
		}
	}
}
//* Desktop-first
@media (max-width: em(1399px)) {
	.docs-slider__wrapper .swiper-slide-active .document {
		width: fit-content;
	}
}
@media (max-width: em($maxWidthContainer)) {
	logo .products__tab-item.__stock-image .products__tab-img div .img-fluid {
		width: auto;
		height: auto;
	}
}
@media (max-width: em(1199px)) {
	[class*="__container"],
	.container {
		max-width: 71.25rem;
	}
	.logo {
		&__desc {
			display: none;
		}
	}
}
@media (max-width: em(991px)) {
	[class*="__container"],
	.container {
		max-width: 60rem;
	}
	.logo {
		.logo__desc {
			display: none;
		}
	}
	.contacts {
		> :not(:last-child, .contacts__phone) {
			@include adaptiv-value("margin-right", 40, 20, 1);
		}
	}
	.social {
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 20, 10, 1);
		}
	}
	.phone {
		@include adaptiv-value("margin-right", 15, 5, 1);
		&__number {
			display: none;
		}
	}
	.offer {
		&-subtitle {
			@include adaptiv-value("font-size", 18, 20, 0);
		}
	}
	.services-cards {
		&__container {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr;
			grid-template-areas:
				". ."
				". ."
				". .";
			gap: 4.625rem 3.375rem;
		}
	}
	.docs__desc {
		.desc__text {
			text-align: center;
			line-height: 130%;
		}
		.desc__icon {
			transform: scale(1.5);
		}
	}
	.tab-cta {
		&__title {
			line-height: 1.5em;
			margin-bottom: 0.625rem;
		}
	}
	.contact-info {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"uae ukraine"
			"warehouse ukraine";
	}
}
@media (max-width: em(767px)) {
	[class*="__container"],
	.container {
		max-width: 90%;
	}
	[class*="section-title"] {
		border-radius: 0px 0px 35px 35px !important;
		width: 100% !important;
	}
	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		&__menu {
			display: block;
		}
	}
	.contacts {
		transition: right 0.4s ease 0.1s;
		position: fixed;
		height: calc(
			100vh -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
		padding: 5%;
		right: -100%;
		bottom: 0;
		> * i {
			color: var(--base-color);
		}
		&__btn {
			margin-top: 3vh;
			background-color: var(--base-color);
			color: var(--accent-color);
		}
		.email__name {
			display: none;
		}
		&.__active {
			right: 0;
		}
		&,
		.social {
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
			> :not(:last-child) {
				width: 2rem;
				display: flex;
				justify-content: center;
				margin-right: 0;
			}
			> :not(:first-child) {
				margin-top: 7vh;
			}
		}
	}

	.menu {
		&__body {
			width: 100%;
			height: 100%;
			background: rgba(108, 155, 37, 0.9);
			position: fixed;
			z-index: 5;
			top: 0;
			left: -100%;
			&._active {
				left: 0;
			}
		}
		&__icon {
			display: block;
			z-index: 6;
			position: relative;
			width: 1.875rem;
			height: 1.125rem;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&::before,
			&::after,
			span {
				left: 0;
				position: absolute;
				height: 10%;
				width: 100%;
				transition: all 0.3s ease 0s;
				background: var(--main-color);
			}
			&::before,
			&::after {
				content: "";
			}
			&::before {
				top: 0;
			}
			&::after {
				bottom: 0;
			}
			& span {
				transition: all 0.4s ease 0.1s;
				top: 50%;
				transform: scale(1) translate(0px, -50%);
			}
		}
		&__list {
			width: fit-content;
			@include adaptiv-value("font-size", 16, 14, 1);
			li {
				$menuListLiPadding: 0.625rem;
				padding: $menuListLiPadding;
				margin-left: 0;
				margin: 0px 0px calc(2.1875rem - $menuListLiPadding) 0px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					padding: 0.3125rem 0;
				}
			}
			@include adaptiv-value("margin-top", 125, 80, 0);
		}
	}
	.first {
		@include adaptiv-value("margin-top", $startHeightHeader, $smallHeightHeader, 0);
	}
	.offer {
		&-wrapper {
			justify-content: center;
		}
		&-title {
			@include adaptiv-value("font-size", 45, 42, 0);
		}
		&-cta {
			transition: all 0.4s ease 0.1s;
			margin: 0 auto;
			opacity: 0;
			pointer-events: none;
			&.__active {
				opacity: 1;
				pointer-events: all;
			}
		}
	}
	.section-title {
		&__about {
			width: 100%;
			padding: 2vh 10vw;
			box-shadow: 5px 0 15px #efefef;
		}
		&__biz {
			width: 100%;
			padding: 4vw 10vw;
			box-shadow: 5px 0 15px #f3f3f3;
		}
		&__control {
			width: 95%;
			padding: 5% 1.4vw 5% 4vw;
		}
	}
	.about-wrapper {
		&__container {
			flex-wrap: wrap;
			flex-direction: column;
		}
	}
	.about-images__wrapper {
		max-height: 90vh; // or .max-full-screen (but it's media query)
	}
	.about__image {
		max-height: 90vh;
		img {
			max-height: 90vh;
			max-width: 100%;
		}
	}
	.biz {
		&__image {
			padding: 55% 50%;
			flex: 0 0 100%;
		}
		&__body {
			flex-wrap: wrap;
			margin-right: 0;
			> :not(:last-child) {
				@include adaptiv-value("margin-bottom", 430, 38, 1);
			}
		}
	}
	.images {
		display: grid;
		flex: 0 0 100%;
		transform: translate(-100%, 0px);
	}
	.services-cards {
		&__container {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
			grid-template-areas:
				"."
				"."
				"."
				"."
				"."
				".";
			// Need to Finish with JavaScript!!!
		}
	}
	.control__content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 5rem;
		> * {
			justify-self: center;
		}
		grid-template-areas:
			"."
			"control__icon";
	}
	.products {
		&__tabs {
			grid-auto-columns: auto;
			grid-template-columns: auto;
			grid-template-rows: repeat(3, auto);
			grid-template-areas:
				"."
				"."
				".";
		}
		&__tab-items {
			grid-auto-columns: 1fr;
			grid-template-columns: repeat(2, 1fr);
			gap: 0.4375rem 0.5rem;
			grid-template-areas:
				". ."
				". ."
				". ."
				". ."
				". ."
				". ."
				". ."
				"tbb tbb";
		}
	}
	.activity-cards {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 1.875rem 0.9375rem;
		grid-template-areas:
			"__wood __turnover"
			"__buyers __export"
			"__countries __countries";
	}
	.activity-card.__countries {
		width: 100%;
	}
	.contact-info {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"uae"
			"ukraine"
			"warehouse";
	}
	.contact-card {
		justify-content: center;
		align-items: center;
		text-align: center;
		&__tbb-content {
			display: flex;
			text-align: center;
			flex-direction: column;
			align-items: center;
		}
	}
	.feedback {
		&__content {
			flex-direction: column;
		}
		&__reg {
			border-radius: 0 0 35px 0;
		}
	}
}
@media (max-height: em(400px)) {
	.contacts {
		flex-wrap: wrap-reverse;
		> :not(:last-child) {
			display: none;
		}
	}
	.social {
		margin-left: auto;
	}
}
@media (max-width: em(575px)) {
	.offer {
		margin: 15.625rem 0 6.25rem 0;
		text-align: center;
	}
	.products__tab-items {
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"tbb";
	}
	.tab-cta {
		&__cta {
			padding: 1rem 2rem;
		}
	}
	.activity-cards {
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		gap: 1.875rem 0;
		grid-template-areas:
			"__wood"
			"__buyers"
			"__turnover"
			"__export"
			"__countries";
	}
}
