.slider-typical {
	@include adaptiv-value("padding-bottom", 110, 55, 0);
	&__wrapper {
	}

	&__item-wrapper {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(255, 255, 255, 0.3);
			z-index: 5;
			opacity: 1;
			transition: all 0.3s ease 0s;
		}
		&.swiper-slide-active {
			&::before {
				z-index: -1;
				opacity: 0;
			}
			opacity: 1;
			.slider-typical-item__desc {
				opacity: 1;
			}
		}
	}

	[class*="slider-typical__scrollbar"] {
		display: flex;
		align-items: center;
		position: relative;
		height: 0.25rem;
		background: rgba(133, 191, 45, 0.3); // ($accent opacity 0.3)
		margin: 0 auto;
		@include adaptiv-value("max-width", 320, 200, 0);

		.swiper-scrollbar-drag {
			border: 0.1875rem solid var(--accent-color);
			top: 0;
		}
		.swiper-pagination-total,
		.swiper-pagination-current {
			position: absolute;
			font-weight: 700;
			font-size: 1.125rem;
			line-height: 1.39; /* identical to box height, or 139% */
			letter-spacing: 0.027em; /* 0.5px/18 */
		}
		.swiper-pagination-current {
			left: -1.5625rem;
		}
		.swiper-pagination-total {
			right: -1.5625rem;
		}
	}

	&__pagination {
		@include adaptiv-value("bottom", 60, 20, 0);
		z-index: 2;
	}
	&__button-next,
	&__button-prev {
		transform: translateY(-50%);
		@include adaptiv-value("width", 62, 40, 0);
		@include adaptiv-value("height", 62, 40, 0);
		background-color: var(--accent-color);
		border-radius: 50%;
		color: var(--base-color);
		transition: all 0.3s ease 0s;
		&:hover {
			transform: translateY(-50%) scale(1.1);
			background-color: var(--accent-color-dark);
		}
		&:active {
			transform: translateY(-50%) scale(0.9);
		}
		&::after {
			@include adaptiv-value("font-size", 16, 14, 0);
		}
	}
	&__button-next {
		&::after {
			transform: rotate(-90deg) translateY(25%);
		}
	}

	&__button-prev {
		&::after {
			transform: rotate(90deg) translateY(25%);
		}
	}
}
.slider-typical-item {
	position: relative;
	width: 100%;
	height: 100%;
	&__image {
		width: inherit;
		height: inherit;
		img,
		picture {
			width: inherit;
			height: inherit;
			object-fit: cover;
		}
	}

	&__desc {
		opacity: 0;
		transition: all 0.3s ease 0s;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		@include adaptiv-value("height", 60, 45, 0);
		color: var(--base-color);
		background-color: var(--accent-color);
		@include adaptiv-value("padding-left", 45, 20, 0);
		@include adaptiv-value("padding-right", 45, 20, 0);
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: 1.125rem;
		line-height: 1;
		letter-spacing: 0.055em; /* 0.1px/18 */
		border-radius: 0px 35px 0px 0px;
		span {
			text-transform: lowercase;
			&::first-letter {
				text-transform: uppercase;
			}
		}
	}
}
