@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
@import "fonts";
@import "px2em";
@import "reset";
@import "slick";
@import "slick-theme";

//Adaptiv value
$maxWidth: 1440;
$maxWidthContainer: 1344;
@mixin adaptiv-value($property, $startSize, $minSize, $type) {
	$addSize: $startSize - $minSize;
	@if $type == 1 {
		//If smaller then Container
		#{$property}: $startSize + px;
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type == 2 {
		//If bigger then Container
		#{$property}: $startSize + px;
		@media (min-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
		}
	} @else if $type == 3 {
		//Procent
		#{$property}: calc(#{$minSize + "%"} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	} @else if $type == 4 {
		//If smaller then Container Procent
		#{$property}: $startSize + "%";
		@media (max-width: #{$maxWidthContainer + px}) {
			#{$property}: calc(#{$minSize + "%"} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}));
		}
	} @else if $type == 5 {
		//If smaller then Container Procent
		#{$property}: $startSize;
		@media (max-width: #{$maxWidthContainer}) {
			#{$property}: calc(#{$minSize} + #{$addSize} * ((100vw - 320px) / #{$maxWidthContainer - 320}) + "%");
		}
	} @else {
		//Always
		#{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
	}
}

$hovercursor: url(../img/cursor/hover.png);

html {
	scroll-behavior: smooth;
}

a {
	cursor: url(../img/cursor/hover.png), pointer;
}

.d-flex {
	display: flex;
}

.jc-center {
	justify-content: center;
}

.img-fluid {
	width: 100%;
	height: auto;
}

body {
	font-family: "Mulish", sans-serif;
	height: 100%;
	&._lock {
		overflow: hidden;
	}
}
section {
	position: relative;
	padding: 35px 0 35px 0;
}
$main-color: #000;
$second-color: #fff;
$grey-opacity: rgba(107, 107, 107, 1);
$accent: rgba(133, 191, 45, 1);
$second-accent: #d87d1a;
.max-full-screen {
	max-height: 90vh;
}
h2 {
	@include adaptiv-value("font-size", 35, 28, 0);
}
h3 {
	@include adaptiv-value("font-size", 28, 24, 0);
}
h4 {
	@include adaptiv-value("font-size", 24, 20, 0);
}
[class*="__container"],
.container {
	max-width: calc($maxWidthContainer + 48);
	@include adaptiv-value("max-width", 1392, 800, 2);
	margin: 0 auto;
	@include adaptiv-value("padding-left", 24, 16, 0);
	@include adaptiv-value("padding-right", 24, 16, 0);
	@media (max-width: em(1200px)) {
		& {
			max-width: 1140px;
		}
	}
	@media (max-width: em(992px)) {
		& {
			max-width: 960px;
		}
	}
	@media (max-width: em(768px)) {
		& {
			max-width: 90%;
		}
	}
}
.header {
	background: #fff;
	position: relative;
	z-index: 6;
	@media (max-width: em(768px)) {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
	}
}
.header__bar {
	@include adaptiv-value("font-size", 18, 14, 0);
	@include adaptiv-value("height", 105, 60, 0);
	line-height: 1.25em;
	letter-spacing: 0.01em;
	align-items: center;
	justify-content: space-between;
}
.header-logo {
	align-items: center;
	@include adaptiv-value("max-width", 29, 40, 3);
}
.header-logo__logo img {
	max-width: 100%;
}
.header-logo__desc {
	@include adaptiv-value("font-size", 14, 12, 0);
	@include adaptiv-value("max-width", 153, 250, 1);
	text-align: center;
	color: $grey-opacity;
	@media (max-width: em(992px)) {
		& {
			display: none;
		}
	}
	@media (min-width: em(993px)) {
		@include adaptiv-value("max-width", 153, 50, 2);
	}
}
.header-nav {
	align-items: center;
	@include adaptiv-value("gap", 51, -15, 1);
	@media (max-width: em(768px)) {
		display: none;
	}
}
.header__menu {
	display: none;
	@media (max-width: em(768px)) {
		display: block;
	}
}
.menu__icon {
	@media (max-width: em(768px)) {
		z-index: 6;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		transition: all 0.3s ease 0s;
		&::before,
		&::after,
		span {
			left: 0;
			position: absolute;
			height: 10%;
			width: 100%;
			transition: all 0.3s ease 0s;
			background: #000;
		}
		&::before,
		&::after {
			content: "";
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		& span {
			transition: all 0.4s ease 0.1s;
			top: 50%;
			transform: scale(1) translate(0px, -50%);
		}
	}
	&._active {
		span {
			transition: all 0.3s ease 0s;
			transform: scale(0) translate(200%, -200%);
		}
		&::before {
			top: 50%;
			transform: rotate(-45deg) translate(0px, -50%);
		}
		&::after {
			bottom: 50%;
			transform: rotate(45deg) translate(0px, 50%);
		}
	}
}

.header-nav__social {
	@include adaptiv-value("gap", 20, 0, 0);
	@media (max-width: em(540px)) {
		display: none;
	}
}
.social-logo {
}
.header-nav__email {
	@include adaptiv-value("gap", 8, -5, 0);
	align-items: center;
	@media (max-width: em(1200px)) {
		& {
			display: none;
		}
	}
}
.email-logo {
}
.email {
}
.header-nav__phone {
	@include adaptiv-value("gap", 8, -5, 0);
	align-items: center;
	@media (max-width: em(768px)) {
		& {
			display: none;
		}
	}
}
.phone-logo {
}
.phone {
	font-weight: 800;
}
.call__cta {
	text-align: center;
	@include adaptiv-value("font-size", 14, 16, 0);
	font-weight: 700;
	color: $second-color;
	background: $accent;
	border-radius: 30px;
	letter-spacing: 0.06em;
	@include adaptiv-value("padding-top", 13, 7, 0);
	@include adaptiv-value("padding-bottom", 13, 7, 0);
	@include adaptiv-value("padding-left", 40, 20, 0);
	@include adaptiv-value("padding-right", 40, 20, 0);
	transition: all 0.3s ease 0s;
	&:hover {
		box-shadow: inset 0px -1px 100px -50px rgb(0 128 0 / 70%), 1px 7px 45px -20px #29dd4f,
			42px 65px 5px 5px rgb(0 0 0 / 0%);
	}
}

.first-screen {
	background: linear-gradient(65deg, rgba(23, 27, 0, 0.6) 10%, rgba(196, 196, 196, 0) 60%),
		url(../img/combainu.jpg) center 50% / cover no-repeat;
	@media (max-width: em(992px)) {
		background: linear-gradient(65deg, rgba(23, 27, 0, 0.6) 10%, rgba(196, 196, 196, 0) 80%),
			url(../img/combainu.jpg) center 50% / cover no-repeat;
	}
	color: #fff;
	position: relative;
	padding: 0 0 100px 0;
}
.p-0 {
	padding: 0;
}

.menu__body {
	background: rgba(133, 191, 45, 0.8);
	@media (min-width: em(769px)) {
		border-radius: 0px 0px 0px 35px;
		&.scroll {
			position: fixed;
			z-index: 5;
			top: 0;
			left: 0;
			width: 100%;
		}
	}
	transition: left 0.3s ease 0s;
	ul.menu__list {
		li a {
			@include adaptiv-value("padding-top", 33, 18, 0);
			@include adaptiv-value("padding-bottom", 29, 15, 0);
			color: $second-color;
			height: 100%;
			display: inline-flex;
			transition: all 0.4s;
			border-bottom: 4px solid transparent;
			&:hover {
				border-bottom: 4px solid $second-color;
			}
		}
		li._active {
			a {
				font-weight: 700;
				transform: skew(1.1);
				border-bottom: 4px solid $second-color;
			}
		}
		font-weight: 600;
		letter-spacing: 0.07em;
		justify-content: space-around;
		align-items: center;
		padding: 0 21px;
		@include adaptiv-value("font-size", 16, 6, 1);
		@media (min-width: em(769px)) {
			display: flex;
			@include adaptiv-value(height, 86, 50, 0);
			text-align: center;
			li {
				a {
					margin-left: 10px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		@media (max-width: em(768px)) {
			width: fit-content;
			@include adaptiv-value("font-size", 16, 14, 1);
			li {
				margin-left: 0;
				margin: 0px 0px 35px 0px;
				&:last-child {
					margin-bottom: 0;
				}
				a {
					padding: 5px 0;
				}
			}
			@include adaptiv-value("margin-top", 125, 80, 0);
		}
	}
	@media (max-width: em(768px)) {
		background: rgba(108, 155, 37, 0.9);
		position: fixed;
		z-index: 5;
		top: 0;
		left: -100%;
		&._active {
			left: 0;
		}
		width: 100%;
		height: 100%;
	}
	overflow: auto;
}

.first-screen {
}
.offer-wrapper {
	display: flex;
	@media (max-width: em(768px)) {
		justify-content: center;
	}
}
.offer {
	margin: 149px 0 195px 0;
	@media screen and (min-width: em(1201px)) {
		@include adaptiv-value("gap", 31, 1, 0);
	}
	@include adaptiv-value("gap", 31, 30, 0);
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	z-index: 2;
	@media (max-width: em(575px)) {
		margin: 250px 0 100px 0;
		text-align: center;
	}
}
.offer-title {
	font-weight: 800;
	@include adaptiv-value("font-size", 45, 25, 0);
	@media screen and (max-width: em(768px)) {
		@include adaptiv-value("font-size", 45, 42, 0);
	}
	// font-size: 45px;
	text-transform: uppercase;
}
.offer-subtitle {
	@include adaptiv-value("font-size", 18, 12, 0);
	@media screen and (max-width: em(992px)) {
		@include adaptiv-value("font-size", 18, 20, 0);
	}
	// font-size: 18px;
}
.offer-cta {
	@extend .call__cta;
	padding: 21px 38px;
	@include adaptiv-value("font-size", 18, 20, 0);
	@media (max-width: em(768px)) {
		margin: 0 auto;
	}
	// font-size: 18px;
}
// .menu {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   gap: 15px;
//   z-index: 2;
// }
.live-nav {
	color: $second-color;
	display: flex;
	position: sticky;
	left: 70%;
	top: 50vh;
	display: flex;
	justify-content: flex-end;
	margin-top: -30%;
}
.number-section {
	font-weight: 700;
	font-size: 18px;
}
.nav-list {
	display: flex;
	width: 4px;
	height: 121px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 10px;
	li.active {
		border-radius: 10px;
		content: " ";
		width: 6px;
		height: 30px;
		background: $second-color;
	}
}
.all-section {
	font-weight: 700;
	font-size: 18px;
}

.dots {
	margin-top: 3px;
	display: flex;
	flex-direction: column;
	gap: 7px;
}

.dot {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 90px;
	background: #d87d1a;
	width: 32.81px;
	height: 32.81px;
	transition: all 0.3s;
	.arrow {
		border: solid $second-color;
		border-width: 0 3px 3px 0;
		display: inline-block;
		padding: 4px;
	}
	&:hover {
		transform: scale(1.2);
		margin: 5px 0px;
	}
}

i.arrow.dot_prev {
	transform: rotate(225deg);
	margin-top: 5px;
}
i.arrow.dot_next {
	transform: rotate(45deg);
	margin-bottom: 5px;
}

.about {
	padding-top: 86px;
}
.about-wrapper__container {
	display: flex;
	gap: 40px;
	@media (max-width: em(768px)) {
		flex-wrap: wrap;
		flex-direction: column;
	}
}

.about-info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 55px;
	flex: 5;
}

.about-images {
	flex: 3;
	overflow: hidden;
	margin-bottom: 40px;
	max-height: 80vh;
}

// .product {

// }

[class*="section-title"] {
	line-height: 114%;
	text-transform: uppercase;
	font-weight: 800;
	@include adaptiv-value("font-size", 35, 28, 0);
	background: #fff;
	z-index: 1;
	@media (max-width: em(768px)) {
		border-radius: 0px 0px 35px 35px !important;
		width: 100% !important;
	}
}
.section-title__about {
	border-radius: 0px 0px 35px 0px;
	padding: 1.6vw 5vw;
	box-shadow: 25px 0px 35px #f3f3f3;
	@media (max-width: em(768px)) {
		width: 100%;
		padding: 2vh 10vw;
		box-shadow: 5px 0 15px #efefef;
	}
	margin: 0 0 25px 0;
	display: inline-block;
}
.section-title__biz {
	align-self: flex-end;
	box-shadow: 0px -20px 35px #f3f3f3;
	border-radius: 0px 0px 0px 35px;
	padding: 2.15vw 35vw 2.25vw 4vw;
	margin-bottom: -2.5%;
	@media (max-width: em(768px)) {
		width: 100%;
		padding: 4vw 10vw;
		box-shadow: 5px 0 15px #f3f3f3;
	}
}
.section-title__docs {
	@extend .section-title__biz;
	@include adaptiv-value("width", 827, 300, 0);
	@include adaptiv-value("height", 96, 70, 0);
	color: $second-color;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: $accent;
	align-self: flex-start;
	padding: 0 4vw 0 0;
	border-radius: 0px 0px 35px 0px;
	margin: -70px 0 0 0;
}
.section-title__services {
	text-align: center;
	margin-bottom: em(50px);
}
.section-title__gallery {
	@extend .section-title__docs;
	color: $main-color;
	display: inline-flex;
	align-items: center;
	justify-content: end;
	background: $second-color;
	box-shadow: 0px -20px 35px #f3f3f3;
	align-self: flex-start;
	padding: 0 4vw 0 0;
	border-radius: 0px 0px 35px 0px;
	margin: 0;
	@include adaptiv-value("margin-bottom", 100, 20, 0);
}

.about__image {
	img {
		height: auto;
	}
}

@media screen and (max-width: em(768px)) {
	.about-images__wrapper {
		max-height: 90vh; // or .max-full-screen (but it's media query)
	}
	.about__image {
		max-height: 90vh;
		img {
			max-height: 90vh;
			max-width: 100%;
		}
	}
}

.about-images__wrapper {
	min-width: 1%;
	display: flex;
	justify-content: center;
	flex-direction: row;
	gap: 0 7%;
	flex-wrap: nowrap;
}
.about__image {
	display: flex;
	justify-content: center;
}

@keyframes aboutText {
	0% {
		max-height: 60vh;
		color: rgb(89, 89, 89);
		background: linear-gradient(180deg, rgba(89, 89, 89, 1) 74%, rgba(255, 255, 255, 1) 91%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	100% {
		max-height: none;
		color: auto;
		background: none;
		-webkit-background-clip: content-box;
		-webkit-text-fill-color: currentColor;
	}
}

.about-text {
	@include adaptiv-value("font-size", 18, 16, 0);
	// font-size: 18px;
	line-height: 167%;
	color: $main-color;
	position: relative;
	&.not-active {
		animation: aboutText 1s linear 0s 1 alternate-reverse both;
	}
	.show {
		transition: cubic-bezier(0.83, 0.48, 0.36, 1.04) 0.6s;
		margin-top: 0;
		opacity: 1;
		height: auto;
		&.disabled {
			transition: cubic-bezier(0.83, 0.48, 0.36, 1.04) 0.6s;
			margin-top: -18%;
			opacity: 0;
			height: 9vh;
		}
	}

	span,
	a {
		font-weight: 800;
		background: $accent;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	p {
		@include adaptiv-value("margin-bottom", 30, 20, 0);
	}
}

.more {
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;

	position: absolute;
	bottom: -3%;

	@media (min-width: em(577px)) {
		justify-content: center;
	}
	p {
		margin-bottom: 0;
	}
	transition: 0.1s linear;
	&:hover {
		background-color: #689b1b;
		transform: scale(0.99);
	}
}
.height-fit {
	height: fit-content;
}
.picture__fix {
	height: 10px;
	width: 16px;
	transition: all 0.6s ease 0.8s;
	&.active {
		transform: rotate(-180deg) scale(1.3);
	}
}

[class*="kliptarz"] {
	position: absolute;
	z-index: -1;
	&[class*="__about"] {
		&[class*="__1"] {
			top: -3%;
			right: 0;
		}
		&[class*="__2"] {
			bottom: -12.5%;
			right: 0;
		}
	}
	&[class*="__services"] {
		right: 0;
		top: -1.5%;
		z-index: 1;
		@media (max-width: em(768px)) {
			opacity: 0.3;
		}
	}
	&[class*="__docs"] {
		right: 0;
		bottom: -15%;
		z-index: 1;
	}
	&[class*="__control"] {
		z-index: 1;
		&[class*="__1"] {
			left: 0;
			bottom: -25%;
		}
		&[class*="__2"] {
			transform: rotate(315deg);
			left: 7%;
			bottom: -25%;
		}
	}
}

.kliptarz__gallery {
	top: 2.5%;
	right: 0;
}

.biz {
	display: flex;
	flex-direction: column;
}
.biz__cards {
	overflow: hidden;
	color: $second-color;
}
.biz__content {
	flex: 0 0 100%;
	z-index: 1;
}
.biz__container {
}
.biz__body {
}

[class*="biz-card"] {
	display: grid;
	row-gap: 52px;
	@include adaptiv-value("padding-top", 90, 30, 0);
	@include adaptiv-value("padding-bottom", 90, 30, 0);
	@media (min-width: em(769px)) {
		max-width: 48.5%;
		&[class*="__1"] {
			@include adaptiv-value("padding-right", 40, 200, 2);
		}
	}
}
h3 {
	@include adaptiv-value("font-size", 28, 25, 0);
}
.biz-title {
	display: flex;
	h3 {
		font-weight: 800;
		line-height: 107%;
	}
	column-gap: 25px;
}
[class*="biz-text"] {
	display: grid;
	row-gap: 33px;
	@include adaptiv-value("font-size", 20, 14, 1);
	line-height: 139%;
	span {
		font-weight: 800;
	}
	&[class*="__1"] {
		span {
			color: #d87d1a;
		}
	}
	&[class*="__2"] {
		span {
			color: #85bf2d;
		}
	}
}
.images {
	display: flex;
	flex: 0 0 50%;
	transform: translate(-200%, 0px);
	gap: 4px;
	@media (max-width: em(768px)) {
		display: grid;
		flex: 0 0 100%;
		transform: translate(-100%, 0px);
	}
}
.biz__image {
	position: relative;
	padding: 50%;
	z-index: 0;
	background-color: #000;
	@media (max-width: em(768px)) {
		padding: 55% 50%;
	}
	@media (min-width: em(577px)) {
		@include adaptiv-value(padding, -1220, 115, 4);
	}
	img {
		max-width: 100%;
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		filter: brightness(0.3) blur(8px);
		top: 0;
		object-fit: cover;
		&.be-left {
			left: 0;
		}
		&.be-right {
			right: 0;
		}
	}
	flex: 0 0 99.9%;
}
.biz__images,
.biz__cards {
	display: flex;
}
.biz__body {
	display: flex;
	justify-content: space-between;
	gap: 93px;
}
@media (max-width: em(768px)) {
	.biz__body {
		flex-wrap: wrap;
		@include adaptiv-value("gap", 430, 38, 1);
	}
	.biz__image {
		flex: 0 0 100%;
	}
}

.services {
	padding: 83px 0px;
}
.services-cards__container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 88px 44px;
	grid-template-areas:
		". . ."
		". . .";
	@media (max-width: em(992px)) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			". ."
			". ."
			". .";
		gap: 74px 54px;
	}
	@media (max-width: em(768px)) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-areas:
			"."
			"."
			"."
			"."
			"."
			".";
		// Need to Finish with JavaScript!!!
	}
}
.services__card {
	position: relative;
	background: #ffffff;
	box-shadow: 0px 0px 35px #eaeaea;
	border-radius: 0px 0px 0px 35px;
	padding: em(63px) em(25px);
	@extend .max-full-screen;
	@media (min-width: em(577px)) {
		padding: em(13px) em(25px);
	}
}
.services-icon {
	margin-top: -55px;
	padding-bottom: 30px;
	@media (max-width: em(767px)) {
		@include adaptiv-value("margin-top", -55, -100, 1);
	}
}
.services-title {
	padding-bottom: 22px;
	font-weight: 800;
	text-align: left;
}
.services-text {
	@include adaptiv-value("font-size", 18, 16, 0);
	line-height: 1.67em;
	letter-spacing: 0.01em;
	overflow: hidden;
}

.docs {
	background: #fffaf2;
	padding-bottom: 2.5vh;
}

.docs-slider {
	z-index: 2;
	.docs-slider__wrapper .swiper-slide-active {
		.certificate {
			display: flex;
			justify-content: start;
		}
		.document {
			@media (max-width: em(1440px)) {
				width: fit-content;
			}
		}
	}
}

.docs__desc {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 58px 0 43px 0;
	padding: 0 3vw;
	column-gap: 10px;
	@media screen and (max-width: em(992px)) {
		.desc__text {
			text-align: center;
			line-height: 130%;
		}
		.desc__icon {
			transform: scale(1.5);
		}
	}
}

.desc__text {
	@include adaptiv-value("font-size", 25, 15, 1);
}
.document,
.gallery-item__image {
	position: relative;
	picture img,
	img {
		@include adaptiv-value("width", 400, 258, 0);
		@include adaptiv-value("height", 580, 356, 0);
		object-fit: cover;
		object-position: center;
	}
}

.certificate {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.7vw 0 0.7vw 3vw;
	background: #85bf2d;
	border-radius: 0px 35px 0px 0px;
	font-size: 18px;
	line-height: 2.22em;
	color: #fff;
}

.control {
	padding: 100px 0;
}
.control__container {
}
.control__content {
	margin-top: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: row;
	grid-template-areas: ". control__icon";
	> * {
		align-self: center;
		justify-self: end;
	}
	@media (max-width: em(768px)) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
		gap: 80px;
		> * {
			justify-self: center;
		}
		grid-template-areas:
			"."
			"control__icon";
	}
}

.control__icon {
	grid-area: control__icon;
}

.control__offer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 44px 0;
	flex: 7;
}
h2.section-title__control {
	@include adaptiv-value("width", 827, 300, 0);
	@include adaptiv-value("height", 96, 70, 0);
	display: flex;
	align-items: center;
	padding: 2.1vw 1.4vw 2.1vw 4.85vw;
	background: #ffffff;
	box-shadow: 0px 0px 35px #f3f3f3;
	border-radius: 0 0 50px 0;
	@media (max-width: em(768px)) {
		width: 95%;
		padding: 5% 1.4vw 5% 4vw;
	}
}
.control__text {
	color: #6b6b6b;
	font-size: em(18px);
	line-height: 1.67em;
}
.control_btn {
	@extend .call__cta;
	padding: 22px 40px;
	background: #416e1c;
	border-radius: 30px;
}
.control__icon {
	flex: 5;
}

.products {
}
.products__container {
}
.section-title__products {
	text-align: center;
	margin-bottom: 60px;
}
.products__content {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	gap: 7px 0px;
	grid-template-areas:
		"."
		".";
	border-radius: 35px 0 35px 0;
	overflow: hidden;
}
.products__tabs {
	z-index: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	gap: 7px 7px;
	grid-template-areas: ". . .";
	@media (max-width: em(768px)) {
		grid-auto-columns: auto;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, auto);
		grid-template-areas:
			"."
			"."
			".";
	}
}
.products__tab {
	background: $accent;
	width: 100%;
	padding: 40px 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 0 1%;
	transition: ease-out 0.7s;
	cursor: $hovercursor, pointer;
	a {
		color: $second-color;
		font-size: 22px;
		font-weight: 400;
		line-height: 1.04em;
		letter-spacing: em(0.6px);
		text-transform: uppercase;
	}
	&:before {
		content: url(../img/flour-3.png);
		width: 25px;
		height: auto;
	}
	&.active {
		background: $second-accent;
		transition: ease-in-out 0.3s;
		a {
			font-weight: 800;
		}
	}
}

.tab-items__wrapper {
	display: none;
	&.active {
		display: block;
	}
}

.products__tab-items {
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 7px 8px;
	display: grid;
	grid-template-areas:
		". . ."
		". . ."
		". . ."
		". . ."
		". . tbb";
	@media (max-width: em(768px)) {
		grid-auto-columns: 1fr;
		grid-template-columns: repeat(2, 1fr);
		gap: 7px 8px;
		grid-template-areas:
			". ."
			". ."
			". ."
			". ."
			". ."
			". ."
			". ."
			"tbb tbb";
	}
	@media (max-width: em(576px)) {
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-areas:
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"."
			"tbb";
	}
}
.tab-items__wrapper.have__tbb .products__tab-item:nth-last-child(-n + 1) {
	grid-area: tbb;
}
.products__tab-item {
	@include adaptiv-value("height", 300, 200, 0);
	// height: 300px;
}

.products__tab-img {
	height: 100%;
	[class*="tab-name"] {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: inherit;
		width: inherit;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-weight: 800;
		@include adaptiv-value("font-size", 28, 22, 0);
		line-height: em(30px);
		.on-hover {
			font-weight: 500;
			@include adaptiv-value("font-size", 18, 16, 0);
			@include adaptiv-value("line-height", 30, 24, 0);
			display: none;
		}

		// In this @import: start bg's
		// It's styles for "_tabs.html"
		@import "tabs-bg__normal";
	}
	&:hover {
		[class*="tab-name"] {
			// In this @import: hover bg's
			// It's styles for "_tabs.html"
			@import "tabs-bg__hover";

			text-align: left;
			padding: 0 5%;
			.on-hover {
				text-transform: none;
				display: block;
			}
			.tab-title {
				margin-bottom: 5%;
				line-height: 1.3em;
			}
		}
	}
}

.products__tab-item.__stock-image {
	overflow: hidden;
	.products__tab-img div .img-fluid {
		@media (max-width: em(1344px)) {
			width: auto;
			height: auto;
		}
	}
}

.to-right {
	margin-left: 12%;
}
.tab-cta__wrapper {
	margin-top: -15px;
	padding: 0 10px 0 10px;
}
.tab-cta {
	position: relative;
	display: flex;
	align-items: center;
	background: $accent;
	color: $second-color;
	height: inherit;
}
.tab-cta__title {
	text-transform: uppercase;
	font-weight: 800;
	@include adaptiv-value("font-size", 24, 18, 0);
	// font-size: 28px;
	line-height: em(56px);
	@media screen and (max-width: em(897px)) {
		line-height: 1.5em;
		margin-bottom: 10px;
	}
}
.tab-cta__subtitle {
	@include adaptiv-value("font-size", 18, 16, 0);
	line-height: 139%;
	letter-spacing: em(0.4px);
	margin-bottom: 20px;
}
.tab-cta__cta {
	@extend .control_btn;
	display: inline-block;
	background: $second-color;
	color: $accent;
	@include adaptiv-value("font-size", 14, 1, 2);
	padding: 1.5rem 3rem;
	@media (max-width: em(576px)) {
		padding: 1rem 2rem;
	}
}
.tab-cta__bg-img {
	position: absolute;
	right: 3%;
	bottom: 0%;
	opacity: 0.3;
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

.swiper-pagination-fraction {
	color: #1b1b1b;
	font-weight: 700;
	font-size: em(22px);
	line-height: 1.39em;
	letter-spacing: em(0.5px);
}
.swiper-wrapper.docs-slider__wrapper,
.swiper-wrapper.gallery-slider__wrapper {
	.swiper-slide {
		transform: scale(0.4);
		// @media (min-width: em(1440px)) {
		//   transform: scale(0.2);
		// }
		opacity: 0.4;
		z-index: 0;
	}
	.swiper-slide-visible {
		transform: scale(0.6);
		// @media (min-width: em(1440px)) {
		//   transform: scale(0.4);
		// }
		opacity: 0.6;
		z-index: 1;
	}
	.swiper-slide-duplicate-next,
	.swiper-slide-next,
	.swiper-slide-duplicate-prev,
	.swiper-slide-prev {
		transform: scale(0.8);
		// @media (min-width: em(1440px)) {
		//   transform: scale(0.6);
		// }
		opacity: 0.8;
		z-index: 2;
	}
	.swiper-slide-active {
		transform: scale(1);
		// @media (min-width: em(1440px)) {
		//   transform: scale(0.8);
		// }
		opacity: 1;
		z-index: 3;
	}
}
.swiper-scrollbar {
	position: relative;
	height: 4px;
	background: rgba(133, 191, 45, 0.3);
	// ($accent opacity 0.3)
	margin: 0 auto;

	.swiper-scrollbar-drag {
		border: 3px solid $accent;
		top: -1px;
	}

	.swiper-pagination-total,
	.swiper-pagination-current {
		position: absolute;
		top: -280%;
	}
	.swiper-pagination-current {
		left: -20%;
	}
	.swiper-pagination-total {
		right: -20%;
	}
}

.swiper-button-prev,
.swiper-button-next {
	@media (max-width: em(1440px)) {
		@include adaptiv-value("top", 47, 38, 3);
		@include adaptiv-value("padding", 30, 35, 0);
	}
	@include adaptiv-value("padding", 30, 5, 2);
	background: #85bf2d;
	border-radius: 50%;
	&::after {
		@include adaptiv-value("font-size", 35, 15, 2);
		@media (max-width: em(1440px)) {
			@include adaptiv-value("font-size", 35, 40, 0);
		}
		font-size: 35px;
		color: $second-color;
	}
}
.swiper-button-next::after {
	margin-left: 5px;
}
.swiper-button-prev::after {
	margin-right: 5px;
}

// // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // // //

.gallery-slider,
.docs-slider {
	@media (min-width: em(1440px)) {
		@include adaptiv-value("padding-bottom", 4, 5, 3);
	}
	@include adaptiv-value("padding-bottom", 0, 6, 3);
	@media (min-width: em(577px)) {
		@include adaptiv-value("padding-bottom", 6, 10, 3);
	}
}

.gallery-slider__wrapper,
.docs-slider__wrapper {
	// text-align: center;
	.swiper-slide {
		width: 27%;
		display: flex;
		justify-content: center;
	}
}

.gallery-scrollbar,
.docs-scrollbar {
	@extend .swiper-scrollbar;
	max-width: 16.85%;
}
.gallery-item__content {
	position: relative;
	// width: 89.7%;
	max-height: 100%;
}
.gallery-item__desc {
	@extend .certificate;
	padding: 1vw 0 1vw 0;
	font-size: 20px;
	font-weight: 700;
	line-height: em(40px);
	letter-spacing: em(0.1px);
	position: absolute;
	bottom: 2%;
	display: flex;
	justify-content: center;
}

.activity__content {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(@img/business-activity-bg.jpg) 60% 50% / cover no-repeat;
	padding: 100px 0 74px 0;
}

.section-title__activity {
	@extend .section-title__biz;
	@include adaptiv-value("width", 1050, 300, 0);
	@include adaptiv-value("height", 96, 70, 0);
	float: right;
	margin-top: -2.5%;
	display: flex;
	align-items: center;
	padding: 2.16vw 0 2.15vw 11.75vw !important;
}

// .activity-cards {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

.activity-cards {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 70px 30px;
	grid-template-areas:
		"__wood __wood __turnover __turnover __buyers __buyers"
		". __export __export __countries __countries .";
	@media (max-width: em(768px)) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 30px 15px;
		grid-template-areas:
			"__wood __turnover"
			"__buyers __export"
			"__countries __countries";
	}
	@media (max-width: em(577px)) {
		grid-auto-columns: 1fr;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
		gap: 30px 0px;
		grid-template-areas:
			"__wood"
			"__buyers"
			"__turnover"
			"__export"
			"__countries";
	}
}
.__wood {
	grid-area: __wood;
	@media (min-width: em(577px)) {
		justify-self: start;
	}
}
.__turnover {
	grid-area: __turnover;
}
.__buyers {
	grid-area: __buyers;
	@media (min-width: em(577px)) {
		justify-self: end;
	}
}
.__export {
	grid-area: __export;
	@media (min-width: em(577px)) {
		justify-self: start;
	}
}
.__countries {
	grid-area: __countries;
	@media (min-width: em(577px)) {
		justify-self: end;
	}
	@media (max-width: em(768px)) {
		width: 100%;
	}
}
.activity-card {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
	align-items: center;
	// flex: 33% 1 1;
	padding: em(20px);
}

.activity-card__icon {
	margin-bottom: em(10px);
}

.activity-card__title {
	font-weight: 600;
	@media screen and (min-width: em(993px)) {
		line-height: 156%;
	}
	color: $accent;
	span {
		font-weight: 700;
	}
	margin-bottom: em(10px);
}
.activity-card__subtitle {
	font-weight: 700;
	color: $second-color;
}

.contact {
	padding-top: 0;
}
.business-activity {
	padding-bottom: 0;
}
.section-title__contact {
	@extend .section-title__docs;
	margin: 0 0 em(23px) 0;
	box-shadow: 0 0 0 0;
}
.contact__container {
}
.contact-info {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	gap: 60px;
	grid-template-areas: "uae ukraine warehouse";
	@media (max-width: em(992px)) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-template-areas:
			"uae ukraine"
			"warehouse ukraine";
	}
	@media (max-width: em(768px)) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
		grid-template-areas:
			"uae"
			"ukraine"
			"warehouse";
	}
}
.contact-card {
	display: flex;
	justify-content: start;
	font-size: em(16px);
	line-height: 1.56em;
	letter-spacing: em(0.2px);
	display: flex;
	flex-direction: column;
	gap: 23px 0;
	color: #6b6b6b;
	span {
		font-weight: 800;
	}
	@media screen and (max-width: em(768px)) {
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	&:nth-child(1) {
		@media screen and (min-width: em(993px)) {
			margin-right: auto;
		}
		grid-area: uae;
	}
	&:nth-child(2) {
		@media screen and (min-width: em(993px)) {
			margin: 0 auto;
		}
		grid-area: ukraine;
	}
	&:nth-child(3) {
		@media screen and (min-width: em(993px)) {
			margin-left: auto;
		}
		grid-area: warehouse;
	}
}
.contact-card__content {
}
.contact-card__info {
}
.contact-title {
	text-transform: uppercase;
	font-weight: 800;
	line-height: em(24px);
	color: #373f41;
	@include adaptiv-value(margin-bottom, 20, 10, 0);
}
.contact-tbb {
	font-weight: 800;
	@include adaptiv-value("font-size", 20, 18, 0);
	line-height: em(25px);
	letter-spacing: em(0.2px);
	color: #85bf2d;
	position: absolute;
	top: -23%;
}
.contact-card__tbb-content {
	@extend .contact-card__content;
	p.contact-addres {
		max-width: 80%;
	}
	position: relative;
	@media (max-width: em(768px)) {
		display: flex;
		text-align: center;
		flex-direction: column;
		align-items: center;
	}
}
.contact-title__partners {
	margin-top: em(80px);
	margin-bottom: em(25px);
}
.partners-slider {
}
.partners-slider__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.parters-scrollbar {
	@extend .swiper-scrollbar;
	max-width: 30%;
	margin: 0 auto;
}
.partners-scrollbar.swiper-scrollbar {
	max-width: 40%;
	height: 3px;
	margin: 10px auto 0 auto;
	position: relative;
	.swiper-scrollbar-drag {
		border-width: 2px;
	}
}

.partners-slider__image {
	text-align: center;
	img {
		max-width: 100%;
	}
}

.feedback {
	padding: 0;
}

.feedback__content {
	display: flex;
	@media (max-width: em(768px)) {
		flex-direction: column;
	}
}

.feedback__map {
	flex: 1 1 52.5%;
	overflow: hidden;
	.map {
		@include adaptiv-value(height, 497, 320, 0);
		width: 100%;
		background: #333;
	}
	z-index: 1;
}

[class*="copyrights-pane"] {
	display: none !important;
}

.feedback__reg {
	flex: 1 1 47.5%;
	position: relative;
	display: flex;
	background: $accent;
	border-radius: 0 35px 0 0;
	overflow: hidden;
	z-index: 2;
	@media (max-width: em(768px)) {
		border-radius: 0 0 35px 0;
	}
}

.feedback__form {
	@include adaptiv-value("padding", 75, 15, 0);
	@include adaptiv-value(padding-right, 55, 15, 0);
	margin: 0 auto 0 0;
	display: flex;
	gap: 17px 0;
	flex-direction: column;
	align-items: stretch;
	box-sizing: content-box;
	input {
		font-size: 16px;
		line-height: 20px;
		padding: 11px 10px 11px 21px;
		color: #6b6b6b;
	}
}

.reg__title {
	font-weight: 800;
	line-height: 233%;
	letter-spacing: em(0.9px);
	color: $second-color;
	text-transform: uppercase;
	margin-bottom: 23px;
}

.reg__group {
	border-radius: 35px;
	overflow: hidden;
	display: flex;
}

.reg__group,
input[name="email"] {
	transition: cubic-bezier(0.85, -0.01, 0.29, 0.74) 0.3s;
	&:hover {
		box-shadow: 0px 3px 15px 10px rgba(146, 209, 51, 0.35);
	}
}

input[name="first-name"] {
	border-right: 0.5px solid rgba(107, 107, 107, 0.2);
	width: 49%;
}

input[name="number"] {
	border-left: 0.5px solid rgba(107, 107, 107, 0.2);
	width: 51%;
}

input[name="email"] {
	border-radius: 35px;
}

.reg__submit {
	@include adaptiv-value("max-width", 175, 25, 2);
	padding: 15px 0 !important;
	border-radius: 35px;
	color: $accent !important;
	font-weight: 700;
	font-size: 14px !important;
	line-height: 18px !important;
	transition: cubic-bezier(0.85, -0.01, 0.29, 0.74) 0.45s;
	&:hover {
		cursor: $hovercursor, pointer;
		box-shadow: 0px 3px 15px 10px rgba(161, 231, 57, 0.3);
	}
	@media (min-width: em(577px)) {
		max-width: 100%;
	}
}

.agree {
	display: flex;
	gap: 4px;
	align-items: center;
}
.agree__text {
	color: $second-color;
	span {
		font-weight: 700;
		a {
			color: $second-color;
		}
	}

	&:hover {
		cursor: pointer;
	}
}
.agree__checkbox {
	border: none;
	border-radius: 4px;
	transition: cubic-bezier(0.85, -0.01, 0.29, 0.74) 0.4s;
	&:hover {
		cursor: pointer;
		box-shadow: 0px 3px 15px 10px rgba(131, 212, 10, 0.4);
	}
}

.footer__content {
	height: 63px;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	align-content: center;
}
.copyright {
	font-weight: 600;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 333%;
	color: #1b1b1b;
}
