&[class*="wheat"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/1-klip.jpg) center 50% / cover no-repeat;
}
&[class*="barley"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/barley.jpg) center 50% / cover no-repeat;
}
&[class*="oats"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/oats.jpg) center 50% / cover no-repeat;
}
&[class*="faba"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/faba-beans.jpg) center 50% / cover no-repeat;
}
&[class*="red-sorghum"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/red-sorghum.jpg) center 50% / cover no-repeat;
}
&[class*="white-sorghum"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/white-sorghum.jpg) center 50% / cover no-repeat;
}
&[class*="yellow-peas"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/yellow-peas.jpg) center 50% / cover no-repeat;
}
&[class*="yellow-millet"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/yellow-millet.jpg) center 50% / cover no-repeat;
}
&[class*="yellow-corn"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/yellow-corn.jpg) center 50% / cover no-repeat;
}
&[class*="chickpeas"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/chickpeas.jpg) center 50% / cover no-repeat;
}
&[class*="rapeseeds"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/rapeseeds.jpg) center 50% / cover no-repeat;
}
&[class*="flax-seeds"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/flax-seeds.jpg) center 50% / cover no-repeat;
}
&[class*="coriander"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/coriander.jpg) center 50% / cover no-repeat;
}
&[class*="soybean"] {
	background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
		url(../img/soybean.jpg) center 50% / cover no-repeat;
}
@mixin tabs-bg__normal($name, $img, $padding) {
	&[class*="#{$name}"] {
		background: linear-gradient(0, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%),
			url(../img/#{$img}.jpg) center 50% / cover no-repeat;
		padding: $padding; // 31% 1%
	}
}
@include tabs-bg__normal("sunflower-meal", sunflower-meal, 0 0.625rem);
@include tabs-bg__normal("sunflower-pellets", sunflower-pellets, 0 0.625rem);
@include tabs-bg__normal("seeds-cake", seeds-cake, 0 0.625rem);
@include tabs-bg__normal("feed-wheat", feed-wheat, 0 0.625rem);
@include tabs-bg__normal("wheat-bran-pellets", wheat-bran-pellets, 0 0.625rem);
@include tabs-bg__normal("soybean-meal", soybean-meal, 0 0.625rem);
@include tabs-bg__normal("timber-air-dry", timber-air-dry, 0 0.625rem);
@include tabs-bg__normal("timber-klin-dry", timber-klin-dry, 0 0.625rem);
@include tabs-bg__normal("dead-wood", dead-wood, 0 0.625rem);
