//* About
@keyframes aboutText {
	0% {
		max-height: calc(
			90vh -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
		color: rgb(89, 89, 89);
		background: linear-gradient(180deg, rgba(89, 89, 89, 1) 65%, rgba(255, 255, 255, 1) 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	100% {
		max-height: none;
		color: auto;
		background: none;
		-webkit-background-clip: content-box;
		-webkit-text-fill-color: currentColor;
	}
}

.about {
	margin-bottom: 0;
	&::before,
	&::after {
		content: "";
	}
	&::before {
		top: 0;
		right: 0;
		transform: translateY(calc($sectionMarginTopBottom / (-2)));
		background-image: url(../img/about-image-1.png);
	}
	&::after {
		bottom: 0;
		right: 0;
		transform: translateY($sectionMarginTopBottom);
		background-image: url(../img/about-image-2.png);
	}
	&__container {
	}
	&__wrapper {
		display: flex;
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 40, 20, 0);
		}
	}

	&__images {
	}

	&__info {
		flex: 1 1 53.42%;
	}

	&__title {
		position: relative;
		padding: 0;
		@include adaptiv-value("padding-top", 26, 16, 0);
		@include adaptiv-value("padding-bottom", 26, 16, 0);
		@include adaptiv-value("padding-left", 77, 16, 0);
		@include adaptiv-value("padding-right", 77, 16, 0);
		background: var(--base-color);
		box-shadow: 25px 0px 35px var(--base-color-shadow);
		border-radius: 0px 0px 35px 0px;
		max-width: fit-content;
		@include adaptiv-value("margin-bottom", 55, 30, 0);
	}

	&__text {
		flex: 1;
		position: relative;
		transition: all 1s ease 0s;
		&._not-active {
			animation: aboutText 1s linear 0s 1 alternate-reverse both;
			.show {
				margin-top: -18%;
				opacity: 0;
				height: 9vh;
				pointer-events: none;
				visibility: hidden;
				user-select: none;
			}
			.about__more {
				@include adaptiv-value("bottom", 1, -15, 4);
				svg {
					transform: rotate(0);
				}
			}
		}
		.show {
			transition: cubic-bezier(0.83, 0.48, 0.36, 1.04) 0.6s;
			margin-top: 0;
			opacity: 1;
			height: auto;
		}
		span,
		a {
			font-weight: 800;
			background: var(--accent-color);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		p {
			@include adaptiv-value("font-size", 18, 16, 0);
			line-height: 1.875em;
			letter-spacing: 0.0055em; /* 0.1px/18 */
			@include adaptiv-value("margin-bottom", 30, 20, 0);
		}
	}
	&__more {
		display: flex;
		align-items: center;
		position: absolute;
		bottom: -3rem;
		z-index: 1;
		font-weight: 800;
		font-size: 1.25rem;
		line-height: 1.5; /* 30px/20 */
		letter-spacing: 0.005em; /* 0.1px/20 */
		color: var(--accent-color);
		transition: all 0.4s ease 0.1s;
		svg {
			margin-left: 0.625rem;
			fill: var(--accent-color);
			transform: rotate(180deg);
			transition: all 1s ease 0.1s;
		}
		&:hover {
			svg {
				fill: #689b1b;
				transform: translateY(10%) rotate(180deg);
			}
			background-color: #689b1b;
			transform: scale(0.95);
		}
	}
}
.about-images {
	max-height: calc(
		100vh -
			calc(
				#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
					((100vw - 320px) / #{$maxWidth - 320})
			)
	);
	flex: 1 1 46.58%;
	overflow: hidden;
	border-radius: 35px 0 35px 0;
	&__wrapper {
		border-radius: inherit;
		max-width: 100%;
		height: 100%;
		overflow: hidden;
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: nowrap;
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 6, 12, 6);
		}
	}

	&__image {
		height: 100%;
		width: 100%;
		img {
			height: inherit;
			width: inherit;
			object-fit: cover;
		}
	}
}
// About
