//* Contact
// .contact {
// 	margin-top: 0;
// 	&__container {
// 	}
// }
// .section-title__contact {
// 	margin: 0 0 em(23px) 0;
// 	box-shadow: 0 0 0 0;
// }
// .contact-info {
// 	display: grid;
// 	grid-template-columns: repeat(3, 1fr);
// 	grid-template-rows: 1fr;
// 	gap: 3.75rem;
// 	grid-template-areas: "uae ukraine warehouse";
// }
// .contact-card {
// 	display: flex;
// 	justify-content: flex-start;
// 	font-size: 1rem;
// 	line-height: 1.56em;
// 	letter-spacing: em(0.2px);
// 	display: flex;
// 	flex-direction: column;
// 	gap: 1.4375rem 0;
// 	color: #6b6b6b;
// 	span {
// 		font-weight: 800;
// 	}
// 	&__tbb-content {
// 		@extend .contact-card__content !optional;
// 		p.contact-addres {
// 			max-width: 80%;
// 		}
// 		position: relative;
// 	}
// 	&__ukraine {
// 		grid-area: ukraine;
// 	}
// 	&__uae {
// 		grid-area: uae;
// 	}
// 	&__warehouse {
// 		grid-area: warehouse;
// 	}
// }
// .contact-title {
// 	text-transform: uppercase;
// 	font-weight: 800;
// 	line-height: 1.5em;
// 	color: #373f41;
// 	@include adaptiv-value("margin-bottom", 20, 10, 0);
// 	&__partners {
// 		margin-top: 5rem;
// 		margin-bottom: 1.5625em;
// 	}
// }
// .contact-tbb {
// 	font-weight: 800;
// 	@include adaptiv-value("font-size", 20, 18, 0);
// 	line-height: 1.56em;
// 	letter-spacing: 0.0125em;
// 	color: var(--accent-color);
// 	position: absolute;
// 	top: -23%;
// }
// .partners-slider {
// 	&__wrapper {
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 	}

// 	&__slide {
// 	}

// 	&__image {
// 		text-align: center;
// 		img,
// 		picture {
// 			max-width: 100%;
// 		}
// 	}
// }
// .partners-scrollbar {
// 	@extend .swiper-scrollbar;
// 	max-width: 30%;
// 	margin: 0 auto;
// 	&.swiper-scrollbar {
// 		max-width: 40%;
// 		height: 0.1875rem;
// 		margin: 0.625rem auto 0 auto;
// 		position: relative;
// 		.swiper-scrollbar-drag {
// 			border-width: 0.125rem;
// 		}
// 	}
// }
// Contact
.contact {
	margin-top: calc($titleHeight / 2);
	&__title {
		color: var(--base-color);
		&::before {
			left: 0;
			background-color: var(--accent-color);
			border-radius: 0 0 35px 0;
			box-shadow: none;
		}
	}

	&__container {
	}

	&__wrapper {
		> * {
			@include adaptiv-value("margin-top", 65, 105, 0);
		}
	}

	&__info {
		display: grid;
		grid-template-columns: repeat(3, auto);
		> :not(:last-child) {
			margin-bottom: 4.0625rem;
		}
		> :not(:first-child) {
			@include adaptiv-value("margin-left", 110, 55, 0);
		}
	}

	&__card {
	}

	&__partners {
	}
}
.contact-card {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: auto 1fr;
	&_uae {
		.contact-item__title {
			margin-bottom: 2.875rem;
		}
	}

	&_ukraine {
	}

	&_warehouse {
	}

	&__title {
		@include adaptiv-value("min-height", 50, 25, 1);
		@include adaptiv-value("margin-bottom", 46, 23, 1);
	}

	&__body {
	}
}
.contact-item {
	&__title {
		font-weight: 800;
		font-size: 1.75rem;
		line-height: 0.85; /* 24px/28 */
		letter-spacing: 0.035em; /* 0.1px/28 */
		text-transform: uppercase;
		color: #373f41;
	}
}
.contact-card-body {
	position: relative;
	* {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.25; /* 20px/16 */
		letter-spacing: 0.012em; /* 0.2px/16 */
		span {
			display: inline-block;
		}
	}
	> :not(:last-child, .contact-card-body__title) {
		@include adaptiv-value("margin-bottom", 23, 13, 0);
	}
	&__title {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(calc(-100% - 0.75rem));
		margin-bottom: 0;
		span {
			font-weight: 800;
			font-size: 1.125rem;
			line-height: 1.39; /* or 139% */
			letter-spacing: 0.01em; /* 0.2px/18 */
			text-transform: uppercase;
			color: var(--accent-color);
		}
	}
	&__addres {
	}

	&__line {
	}
}
.contact-card-body-line {
	display: flex;
	flex-wrap: wrap;
	&__title {
		margin-right: 0.3125rem;
		font-weight: 800;
		line-height: 1.56;
	}

	&__content {
	}
}

.partners {
	&__title {
		margin-bottom: 1.5625rem;
	}

	&__scrollbar {
		margin-top: 1rem !important;
		.swiper-scrollbar-drag {
			border: none !important;
			background-color: var(--accent-color);
		}
	}
}
.partners-slider {
	padding-bottom: 2rem;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__slide {
		max-width: fit-content;
	}

	&__image {
		picture,
		img {
			max-width: 100%;
		}
	}
}
