//* Control
.control {
	&::before {
		content: "";
		top: 0;
		right: 0;
		background-image: url("../img/control-image-1.png");
		transform: translateX(25%);
	}
	&::after {
		content: "";
		left: 0;
		bottom: 0;
		transform: translateX(-20%) translateY(60%);
		background-image: url("../img/control-image-2.png");
	}
	&__container {
	}

	&__wrapper {
		@include adaptiv-value("margin-top", 45, 30, 1);
		display: grid;
		grid-template-columns: 1.85fr 1fr;
		grid-template-rows: 1fr;
		gap: 0 0;
		grid-template-areas: ". .";
		> * {
			justify-self: flex-end;
		}
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 120, 0, 0);
		}
	}

	&__content {
	}

	&__images {
	}
}
.control-title {
	position: static;
	&::before {
		border-radius: 0 0 35px 0;
		top: auto;
		left: 0;
	}
	&__container {
		flex: 1;
		span {
			padding: 0;
			width: 100%;
		}
	}
}
.control-content {
	> :not(:last-child) {
		@include adaptiv-value("margin-bottom", 34, 20, 0);
	}
	&__text {
		font-size: 1.125rem;
		line-height: 1.67;
	}

	&__btn {
	}
}
.control-images {
	display: flex;
	align-items: flex-end;
	&__img {
		img,
		picture {
			max-width: 100%;
		}
		&-1 {
			@include adaptiv-value("margin-bottom", 130, 20, 1);
		}
	}
}
// Control
