//* Docs
.docs {
	background: #fffaf2;
	padding-bottom: 2.5vh;
	&__container {
	}

	&__desc {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3.625rem 0 2.6875rem 0;
		padding: 0 3vw;
		column-gap: 0.625rem;
	}
}
.section-title__docs {
	@extend .section-title__biz;
	@include adaptiv-value("width", 827, 300, 0);
	@include adaptiv-value("height", 96, 70, 0);
	color: var(--base-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: var(--accent-color);
	align-self: flex-start;
	padding: 0 4vw 0 0;
	border-radius: 0px 0px 35px 0px;
	margin: -4.375rem 0 0 0;
}
.desc {
	&__icon {
	}

	&__text {
		@include adaptiv-value("font-size", 25, 15, 1);
	}
}
.swiper-container {
}
.docs-slider {
	z-index: 2;
	&__wrapper {
		.swiper-slide-active {
			.certificate {
				display: flex;
				justify-content: start;
			}
		}
	}
}
.swiper-wrapper {
}
.swiper-slide {
}
.docs-item {
}
.document {
	position: relative;
	picture img,
	img {
		@include adaptiv-value("width", 400, 258, 0);
		@include adaptiv-value("height", 580, 356, 0);
		object-fit: cover;
		object-position: center;
	}
}
.document-image {
}
.img-fluid {
}
.certificate {
	display: none;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0.7vw 0 0.7vw 3vw;
	background: #85bf2d;
	border-radius: 0px 35px 0px 0px;
	font-size: 1.125rem;
	line-height: 2.22em;
	color: #fff;
}
.documnet-image {
}
.swiper-button-next {
}
.docs-button-next {
}
.swiper-button-prev {
}
.docs-button-prev {
}
.swiper-pagination {
}
.docs-pagination {
}
.swiper-srollbar {
}
.docs-srollbar {
}
.kliptarz {
	&__docs {
	}
}
// Docs
