//* Docs
.docs {
	position: relative;
	background: var(--neutral-color);
	padding-bottom: 2.5vh;
	&::after {
		content: "";
		bottom: 0;
		transform: translateY(50%);
		right: 0;
		z-index: 1;
		background-image: url("../img/docs-image-1.png");
	}
	&__title {
		color: var(--base-color);
		&::before {
			left: 0;
			background-color: var(--accent-color);
			border-radius: 0 0 35px 0;
		}
	}

	&__container {
	}

	&__wrapper {
		@include adaptiv-value("margin-top", 56, 35, 0);
		> :not(:last-child) {
			@include adaptiv-value("margin-bottom", 45, 30, 0);
		}
	}

	&__desc {
		&::before {
			@include adaptiv-value("font-size", 24, 30, 1);
			margin-right: 0.75rem;
		}
		box-sizing: content-box;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		padding: 0 1.25rem;
		max-width: 55.9375rem;
		@include adaptiv-value("font-size", 18, 16, 1);
		line-height: 1.39em; /* identical to box height, or 139% */
		letter-spacing: 0.027em; /* 0.5px/18 */
	}
}
.docs-slider {
	&__wrapper {
	}

	&__item-wrapper {
		height: 36.25rem !important;
		width: 25rem !important;
	}

	&__item {
	}

	&__pagination {
	}

	&__srollbar {
	}

	&__button-next,
	&__button-prev {
	}
	&__button-next {
	}

	&__button-prev {
	}
}
.docs-slider__scrollbar {
	.swiper-scrollbar-drag {
	}

	.swiper-pagination-total,
	.swiper-pagination-current {
	}
	.swiper-pagination-current {
	}
	.swiper-pagination-total {
	}
}
.docs-slider-item {
	&__image {
		img,
		picture {
		}
	}

	&__desc {
	}
}
// Docs
