//* Fisrt screen

.first {
	position: relative;
	margin-top: 0;
	background: linear-gradient(65deg, rgba(23, 27, 0, 0.6) 10%, rgba(196, 196, 196, 0) 80%),
		url(../img/combainu.jpg) center 50% / cover no-repeat;
	color: var(--base-color);
	&__wrapper {
		height: calc(
			100vh -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
		min-height: calc(
			32rem -
				calc(
					#{rem($smallHeightHeader)} + #{$startHeightHeader - $smallHeightHeader} *
						((100vw - 320px) / #{$maxWidth - 320})
				)
		);
	}
}
.offer {
	height: 100%;
	margin: auto 0;
	flex-direction: column;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	> :not(:last-child) {
		@include adaptiv-value("margin-bottom", 23, 15, 0);
	}
	&__title {
		font-weight: 800;
		font-size: 2.8125rem;
		line-height: 1.24; /* 56px/45px */
		letter-spacing: 0.0125em;
		text-transform: uppercase;
	}

	&__subtitle {
		color: var(--base-color);
		font-size: 1.125rem;
		line-height: 1.39; /* or 139% */
		letter-spacing: 0.0313em;
	}
}

// First screen
