.gallery {
	&__title {
		&::before {
			left: 0;
			background-color: var(--base-color);
			border-radius: 0 0 2.1875rem 0;
		}
	}

	&__container {
	}

	&__wrapper {
		@include adaptiv-value("margin-top", 115, 50, 0);
	}

	&__slider {
	}
}
.gallery-slider {
	&__wrapper {
	}

	&__item-wrapper {
		width: 568px !important;
		height: 720px !important;
	}

	&__item {
	}

	&__pagination {
	}

	&__srollbar {
	}

	&__button-next {
	}

	&__button-prev {
	}
}
.gallery-slider-item {
	&__image {
	}

	&__desc {
	}
}
