.main__nav {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
}
.menu {
	&__body {
		overflow: auto;
		position: relative;
		&::-webkit-scrollbar {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
		}
		background: rgba(133, 191, 45, 0.6);
		transition: left 0.4s ease 0.1s;
	}

	&__list {
		font-weight: 600;
		letter-spacing: 0.07em;
		justify-content: space-around;
		align-items: center;
		padding: 0 1.3125rem;
		@include adaptiv-value("font-size", 16, 10, 1);
		> :not(:last-child) {
			@include adaptiv-value("margin-right", 16, 10, 0);
		}
		li {
			&._active {
				a {
					font-weight: 700;
					transform: skew(1.1);
					border-bottom: 4px solid var(--base-color);
				}
			}
			> a {
				@include adaptiv-value("padding-top", 33, 18, 0);
				@include adaptiv-value("padding-bottom", 29, 15, 0);
				color: var(--base-color);
				height: 100%;
				display: inline-flex;
				transition: all 0.4s;
				border-bottom: 4px solid transparent;
				&:hover {
					border-bottom: 4px solid var(--base-color);
				}
			}
		}
	}
	&__link {
	}
	&__request {
		display: none;
	}
}
