//* Products
.products {
	&::before {
		content: "";
		left: 0;
		top: 0;
		background-image: url("../img/products-image-1.png");
	}
	&__container {
	}

	&__wrapper {
	}

	&__title {
		text-align: center;
		margin-bottom: 60px;
	}

	&__body {
		border-radius: 2.1875rem 0 2.1875rem 0;
		overflow: hidden;
	}

	&__grid_typical {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		> :not(:last-child) {
			margin-right: var(--productsMargin);
		}
	}

	&__tabs {
	}

	&__content-wrapper {
		margin-top: var(--productsMargin);
	}

	&__content {
	}
}
.products-tabs {
	&__tab {
		height: 6.75rem;
		@include adaptiv-value("padding-right", 16, 64, 0);
		@include adaptiv-value("padding-left", 16, 64, 0);
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--base-color);
		background-color: var(--accent-color);
		transition: all 0.5s ease 0s;
		cursor: var(--hover-cursor);
		&::before {
			font-size: 24px;
			margin-right: 20px;
		}
		&._active {
			background-color: var(--second-accent-color);
			.products-tabs__title {
				font-weight: 800;
			}
		}
	}

	&__title {
		font-size: 1.5rem;
		line-height: 1.04; /* or 104% */
		letter-spacing: 0.01em; /* .0187rem/24 */
		text-transform: uppercase;
	}
}
.products-content {
	height: 0;
	opacity: 0;
	transition: all 0.3s ease 0s;
	&._active {
		display: grid;
		opacity: 1;
		height: 100%;
		transition: all 0.3s ease 0s;
	}
	&__item-wrapper {
		margin-bottom: var(--productsMargin);
		position: relative;
		&_green {
			background-color: var(--accent-color);
			overflow: hidden;
			&::before {
				position: absolute;
				bottom: 0;
				@include adaptiv-value("right", 5, 3, 3); /* 427px / 80px */
				opacity: 0.3;
				color: #fff;
				font-size: 7.5rem;
			}
			.products-content-item {
				align-items: flex-start;
				&,
				&:hover {
					background: none;
				}
				> :not(:first-child) {
					margin-top: 2.125rem;
				}
				&__text {
					transition: none;
					p {
						display: block;
						opacity: 1;
						visibility: visible;
						pointer-events: all;
					}
				}
				&__btn {
					color: var(--accent-color);
					background-color: var(--base-color);
					&:hover {
						color: var(--base-color);
						background-color: var(--accent-color-dark);
					}
				}
			}
		}
		&:last-child {
			border-radius: 0px 0px 35px 0px;
			overflow: hidden;
		}
		&:not(:last-child) {
			margin-right: 0;
		}
		&:not(:nth-child(3n)) {
			margin-right: var(--productsMargin);
		}
		&:nth-last-child(-n + 3) {
			margin-bottom: 0;
		}
	}
	&__item {
		@include adaptiv-value("padding", 40, 20, 0);
	}
}
.products-content-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	height: 100%;
	min-height: 20rem;
	background: rgb(0 0 0 / 50%);
	transition: all 0.5s ease 0s;
	cursor: var(--hover-cursor);
	&:hover {
		background: rgba(216, 124, 26, 0.95);
		.products-content-item__text {
			margin-top: 2.125rem;
			transition: all 0.5s ease 0s;
			p {
				display: block;
				opacity: 1;
				visibility: visible;
				pointer-events: all;
				&::selection {
					-webkit-text-fill-color: var(--second-accent-color);
					background-color: var(--base-color);
					color: var(--second-accent-color);
				}
			}
		}
		.products-content-item__title {
			&::selection {
				-webkit-text-fill-color: var(--second-accent-color);
				background-color: var(--base-color);
				color: var(--second-accent-color);
			}
		}
	}
	&__img {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		picture,
		img {
			width: inherit;
			height: inherit;
			object-fit: cover;
		}
	}

	&__title {
		text-align: center;
		text-transform: uppercase;
		color: var(--base-color);
		font-weight: 800;
		font-size: 1.75rem;
		line-height: 1.07; /* or 107% */
		letter-spacing: 0.01em; /* .0187rem/28 */
	}

	&__text {
		transition: all 1s ease 0s;
		p {
			color: var(--base-color);
			display: none;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
		}
	}
	&_empty {
		&,
		&:hover {
			background: none;
		}
	}
}
// Products
