//* Products
.section-title__products {
	text-align: center;
	margin-bottom: 3.75rem;
}
.products {
	&__container {
	}

	&__content {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto;
		gap: 0.4375rem 0px;
		grid-template-areas:
			"."
			".";
		border-radius: 35px 0 35px 0;
		overflow: hidden;
	}

	&__tabs {
		z-index: 1;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		gap: 0.4375rem;
		grid-template-areas: ". . .";
	}

	&__tab {
		background: var(--accent-color);
		width: 100%;
		padding: 2.5rem 2%;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		gap: 0 1%;
		transition: ease-out 0.7s;
		cursor: var(--hovercursor), pointer;
		a {
			color: var(--base-color);
			font-size: 1.375rem;
			font-weight: 400;
			line-height: 1.04em;
			letter-spacing: 0.0375em;
			text-transform: uppercase;
		}
		&:before {
			content: url(../img/flour-3.png);
			width: 1.5625rem;
			height: auto;
		}
		&.active {
			background: var(--second-accent-color);
			transition: ease-in-out 0.3s;
			a {
				font-weight: 800;
			}
		}
	}

	&__tabs-content {
	}

	&__tab-items {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		gap: 0.4375rem;
		display: grid;
		grid-template-areas:
			". . ."
			". . ."
			". . ."
			". . ."
			". . tbb";
	}

	&__tab-item {
		@include adaptiv-value("height", 300, 200, 0);
		&.__stock-image {
			overflow: hidden;
		}
	}

	&__tab-img,
	picture {
		height: 100%;
		[class*="tab-name"] {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			height: inherit;
			width: inherit;
			text-align: center;
			text-transform: uppercase;
			color: #fff;
			font-weight: 800;
			@include adaptiv-value("font-size", 28, 22, 0);
			line-height: 1.875em;
			.on-hover {
				font-weight: 500;
				@include adaptiv-value("font-size", 18, 16, 0);
				@include adaptiv-value("line-height", 30, 24, 0);
				display: none;
			}
			// In this @import: start bg's
			// It's styles for "_tabs.html"
			@import "./tabs/tabs-bg__normal";
		}
		&:hover {
			[class*="tab-name"] {
				// In this @import: hover bg's
				// It's styles for "_tabs.html"
				@import "./tabs/tabs-bg__hover";

				text-align: left;
				padding: 0 5%;
				.on-hover {
					text-transform: none;
					display: block;
				}
				.tab-title {
					margin-bottom: 5%;
					line-height: 1.3em;
				}
			}
		}
	}
}
.tab-items {
	&__wrapper {
		display: none;
		&.have__tbb .products__tab-item:nth-last-child(-n + 1) {
			grid-area: tbb;
		}
		&.active {
			display: block;
		}
	}
}
.have {
	&__tbb {
	}
}
.tab-name {
	&__wheat {
	}

	&__barley {
	}

	&__oats {
	}

	&__faba {
	}

	&__red-sorghum {
	}

	&__white-sorghum {
	}

	&__yellow-peas {
	}

	&__yellow-millet {
	}

	&__yellow-corn {
	}

	&__chickpeas {
	}

	&__rapeseeds {
	}

	&__flax-seeds {
	}

	&__coriander {
	}

	&__soybean {
	}

	&__sunflower-meal {
	}

	&__sunflower-pellets {
	}

	&__seeds-cake {
	}

	&__feed-wheat {
	}

	&__wheat-bran-pellets {
	}

	&__soybean-meal {
	}

	&__timber-air-dry {
	}

	&__timber-klin-dry {
	}

	&__dead-wood {
	}
}

.__content-wrapper {
}

.__stock-image {
}
.on-hover {
}
.tab-cta {
	position: relative;
	display: flex;
	align-items: center;
	background: var(--accent-color);
	color: var(--base-color);
	height: inherit;
	&__wrapper {
		margin-top: -0.9375rem;
		padding: 0 0.625rem;
	}

	&__title {
		text-transform: uppercase;
		font-weight: 800;
		@include adaptiv-value("font-size", 24, 18, 0);
		line-height: em(56px);
	}

	&__subtitle {
		@include adaptiv-value("font-size", 18, 16, 0);
		line-height: 1.39em;
		letter-spacing: em(0.4px);
		margin-bottom: 1.25rem;
	}

	&__cta {
		@extend .control_btn;
		display: inline-block;
		background: var(--second-color);
		color: var(--accent-color);
		@include adaptiv-value("font-size", 14, 1, 2);
		padding: 1.5rem 3rem;
	}

	&__bg-img,
	picture {
		position: absolute;
		right: 3%;
		bottom: 0%;
		opacity: 0.3;
	}
}
.tab-title {
}
.to-right {
	margin-left: 12%;
}
// Products
