@use "sass:math";
$rootfz: 16;
$rootfzinpx: $rootfz * 1px;
@function em($px, $metric: "em", $baseFontSize: 16px) {
	@if unitless($px) {
		// @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
		@return em($px * 1px, $metric, $baseFontSize);
	} @else if unit($px) == em {
		@return $px;
	}
	$test: #{math.div($px, $baseFontSize) + $metric};
	@return $test;
}
@function rem($px, $metric: "rem", $baseFontSize: 16px) {
	@if unitless($px) {
		// @warn "Assuming #{$px} to be in pixels, attempting to convert it into pixels.";
		@return rem($px * 1px, $metric, $baseFontSize);
	} @else if unit($px) == rem {
		@return $px;
	}
	$test: #{math.div($px, $baseFontSize) + $metric};
	@return $test;
}
