html {
	--main-color: #1b1b1b;
	--icon-color: var(--main-color);
	--base-color: #ffffff;
	--neutral-color: #fffaf2;
	--base-color-shadow: #eaeaea;
	--gray-opacity-color: #6b6b6b;
	--accent-color: rgb(133, 191, 45);
	--accent-color-dark: rgb(66, 109, 31);
	--second-accent-color: #d87d1a;
}
