$icomoon-font-family: "agro" !default;
$icomoon-font-path: "fonts" !default;

$i-facebook: "\e900";
$i-instagram: "\e901";
$i-mail: "\e902";
$i-phone: "\e903";
$i-culture: "\e904";
$i-firewood-1: "\e905";
$i-agreement: "\e906";
$i-purchase: "\e907";
$i-delivery: "\e908";
$i-service: "\e909";
$i-support: "\e90a";
$i-pack: "\e90b";
$i-document: "\e90c";
$i-flour: "\e90d";
$i-corn: "\e90e";
$i-wood: "\e90f";
$i-wood-2: "\e910";
$i-boxes: "\e911";
$i-companies: "\e912";
$i-plant: "\e913";
$i-countries: "\e914";
