$baseFontSize: 16px;

//Adaptiv value
$maxWidth: 1440;
$maxWidthContainer: 1296;

// Colors
@import "varsColors";

// Style's

// Header sizes
$startHeightHeader: 105;
$smallHeightHeader: 70;

$sectionMarginTopBottom: 5.3125rem;
$sectionMarginTopBottomHalf: 2rem;
$sectionMarginTopBottomUnit: 85;
$sectionMarginTopBottomUnitHalf: 32;
$sectionMarginLeftRight: 0;
$menuListLiPadding: 0.625rem;
$titleHeight: 6rem;
$titleHeightUnit: 96;
$aboutMoreMarginBottom: 3rem;
$servicesIconsFz: 3.75rem;
$activityCardsMarginUnit: 45;
$activityCardsMarginUnitSmall: 15;
// Real vars:
html {
	--hover-cursor: url(../img/cursor/hover.svg) 17 12, pointer;
	--defautBorderRadius: 6px;
	--productsMargin: 0.4375rem;
}
