$icomoon-font-family: "agro" !default;
$icomoon-font-path: "fonts" !default;

$i-agreement: "\e916";
$i-delivery: "\e917";
$i-pack: "\e918";
$i-purchase: "\e919";
$i-service: "\e920";
$i-support: "\e91f";
$i-arrow-more: "\e915";
$i-facebook: "\e900";
$i-instagram: "\e901";
$i-mail: "\e902";
$i-phone: "\e903";
$i-culture: "\e904";
$i-firewood: "\e905";
$i-document: "\e90c";
$i-flour: "\e90d";
$i-corn: "\e90e";
$i-wood: "\e90f";
$i-wood-2: "\e910";
$i-boxes: "\e911";
$i-companies: "\e912";
$i-plant: "\e913";
$i-countries: "\e914";
