$baseFontSize: 16px;

//Adaptiv value
$maxWidth: 1440;
$maxWidthContainer: 1344;

// Colors
@import "varsColors";

// Style's

// Header sizes
$startHeightHeader: 105;
$smallHeightHeader: 70;

$sectionMarginTopBottom: 5.3125rem;
$sectionMarginLeftRight: 0;
$menuListLiPadding: 0.625rem;
$titleHeight: 6rem;
$aboutMoreMarginBottom: 3rem;
$servicesIconsFz: 3.75rem;
// Real vars:
html {
	--hovercursor: url(../img/cursor/hover.png);
	--defautBorderRadius: 6px;
}
